
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gq0ZMlQLsK" data-id="gq0ZMlQLsK"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:20px;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gq0ZMlQLsK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gjH3-aSe50 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g0nXsYnsdu"
    role="presentation"
    class="gp-group/image g0nXsYnsdu"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_542333615069987699-bcab8acc-b08a-448c-bd58-9b71197029ea_768x.png" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_542333615069987699-bcab8acc-b08a-448c-bd58-9b71197029ea_1024x.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_542333615069987699-bcab8acc-b08a-448c-bd58-9b71197029ea.png" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:3/4;--aspect-tablet:3/4;--aspect-mobile:3/4;--objf:cover;--w-mobile:30%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:custom;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gh6XkPH6nb gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="giDMEzedy5"
    role="presentation"
    class="gp-group/image giDMEzedy5"
    style="--bs:none;--bs-mobile:none;--bw:1px 1px 1px 1px;--bw-mobile:1px 1px 1px 1px;--bc:#121212;--bc-mobile:#121212;--shadow:none;--shadow-mobile:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr-mobile:0px;--bbrr-mobile:0px;--btlr-mobile:0px;--btrr-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:10px;--pb-mobile:10px;--pr-mobile:0px;--ta:center;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center;--jc-mobile:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_542333615069987699-08a281cd-e043-4f53-a357-5dcf54f518b0_768x.png" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_542333615069987699-08a281cd-e043-4f53-a357-5dcf54f518b0_1024x.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_542333615069987699-08a281cd-e043-4f53-a357-5dcf54f518b0.png" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:3/4;--aspect-tablet:3/4;--aspect-mobile:3/4;--objf:cover;--objf-mobile:cover;--w-mobile:80%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#3c96ee;--bw:5px 5px 5px 5px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:custom;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    