<style>
  .main-f-d5 *{
    letter-spacing: normal; 
  }
  .main-f-d5{
    width: 100%;
    padding: 120px 40px;
    /* margin: 120px 0; */
    background: #fff;
  }
  .inner-f-d5{
    max-width: 1180px;
    margin: 0 auto;
  }
  .row-f-d5{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .col-f-d5{
    width: calc(50% - 10px);
  }
  .img-f-col img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .title-content-d5 h2{
    color: #1B1B1B;
    font-family: "Tenor Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
  }
  .title-content-d5 .f-rt-d5 *{
    color: #1B1B1B;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.857%;
  }
  .title-content-d5 {
    margin-bottom: 24px;
  }
  .row-f-d5 .quest-d5{
    padding: 12px 0;
  }
  .row-f-d5 .answer-d5{
    padding-right: 15px;
  }
  @media (max-width: 798px){
    .row-f-d5{
      flex-direction: column;
    }
    .main-f-d5{
      padding: 40px 0;
    }
    .col-f-d5{
      width: 100%;
    }
    .col-f-d5.faqs-f-col{
      padding-inline: 20px;
    }
    .title-content-d5 h2{
      font-size: 24px;
      margin-bottom: 12px;
    }
    .title-content-d5 .f-rt-d5 *{
      color: #4A4A4A;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 114.286% */
    }
   .row-f-d5 .active .quest-d5{
      padding-bottom: 8px;
    }
  }
</style>
<div class="main-f-d5">
  <div class="inner-f-d5">
    <div class="row-f-d5">
      <div class="col-f-d5 img-f-col">
        <img src="{{ section.settings.img | image_url: width: '1440px' }}" width="580" height="440">
      </div>
      <div class="col-f-d5 faqs-f-col">
        <div class="title-content-d5">
          <h2>{{ section.settings.title }}</h2>
          <div class="f-rt-d5">{{ section.settings.rt }}</div>
        </div>
        {% for block in section.blocks %}
         <div class="d5-faq-main">
            <div class="quest-d5"><h3>{{ block.settings.quest }}</h3>
            <div class="faq_icon-d5">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="9" viewBox="0 0 15 9" fill="none">
                <path d="M0.712885 0.718996C0.421225 1.01041 0.421225 1.48323 0.712885 1.77464L7.2195 8.28125C7.51091 8.57291 7.98373 8.57291 8.27514 8.28125L14.7818 1.77464C14.9276 1.62881 15.0005 1.43769 15.0005 1.24657C15.0005 1.05545 14.9276 0.864326 14.7818 0.718745C14.4903 0.427085 14.0175 0.427085 13.7261 0.718745L7.74732 6.69753L1.76854 0.718996C1.47712 0.427335 1.0043 0.427335 0.712885 0.718996Z" fill="#2D1B38" fill-opacity="0.75"/>
              </svg>
            </div>
            </div>
            <div class="answer-d5">
              {{ block.settings.ans }}
            </div>
          </div>
                  {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "D5 FAQs",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "rt",
        "label": "Text"
      },
      {
        "type": "image_picker",
        "id": "img",
        "label": "Image"
      }
    ],
    "blocks": [
      {
        "type": "faqs",
        "name": "FAQs",
        "settings": [
          {
            "type": "text",
            "id": "quest",
            "label": "Question"
          },
          {
            "type": "richtext",
            "id": "ans",
            "label": "Answer"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "D5 FAQs"
      }
    ]
  }
{% endschema %}