<style>
  .d5-header-main{
    width: 100%;
    position: relative;
    padding: 0 40px;
    border-bottom: 0.5px solid rgba(74, 74, 74, 0.30);
    background: #FFF;
    height: 96px;
  }
  .d5-header-sticky{
    max-width: 1180px;
    margin: 0 auto;
    height: 100%;
  }
  #d5-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  .navigation-d5 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
  }
  .navigation-d5 ul li a{
    color: #1B1B1B;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  #d5-header .header__logo img{
    height: 24px;
  }
  #d5-header .header__brand{
    padding: 0;
  }
  #d5-header .icon-caption{
    display: none;
  }
  #d5-header .header__icons{
    
  }
</style>

{% capture logo %}
            {% comment %} Logo {% endcomment %}
            <div class="header__brand is-align-center is-justify-space-between is-flex text-align-center">
              {% if section.settings.enable_overlay and section.settings.overlay_logo != blank %}
                {% if template.name == 'index' %}
                  <h1 class="visually-hidden">{{ shop.name }}</h1>
                {% endif %}
                <div class="overlay-logo__content">
                  <a class="header__logo header__link overlay-logo" href="{{ routes.root_url }}" title="{{ shop.name }}">
                    {%
                      render 'image-element',
                      image: section.settings.overlay_logo,
                      alt: section.settings.overlay_logo.alt,
                      additional_classes: 'overlay-logo',
                      back_to_basics: true,
                      focal_point: section.settings.overlay_logo.presentation.focal_point,
                    %}
                  </a>
                </div>
                <div class="logo__content">
                  {% if section.settings.logo != blank %}
                    <a class="header__logo header__link primary-logo" href="{{ routes.root_url }}" title="{{ shop.name }}">
                      {%
                        render 'image-element',
                        image: section.settings.logo,
                        alt: section.settings.logo.alt,
                        additional_classes: 'primary-logo',
                        focal_point: section.settings.logo.presentation.focal_point,
                      %}
                    </a>
                  {% endif %}
                </div>
              {% elsif section.settings.logo != blank %}
                {% if template.name == 'index' %}
                  <h1 class="visually-hidden">{{ shop.name }}</h1>
                {% endif %}
                <a class="header__logo header__link primary-logo" href="{{ routes.root_url }}" title="{{ shop.name }}">
                  {%
                    render 'image-element',
                    image: section.settings.logo,
                    alt: section.settings.logo.alt,
                    additional_classes: 'primary-logo',
                    focal_point: section.settings.logo.presentation.focal_point,
                  %}
                </a>
              {% else %}
                {% if template.name == 'index' %}
                  <h1 class="header__logo-text">
                    <a class="header__link primary-brand" href="{{ routes.root_url }}">
                      {{ shop.name }}
                    </a>
                  </h1>
                {% else %}
                  <a class="header__logo-text header__link primary-brand" href="{{ routes.root_url }}">
                    {{ shop.name }}
                  </a>
                {% endif %}
              {% endif %}
            </div> 
          {% endcapture %}

<div class="d5-header-main">
  <div class="d5-header-sticky">
    <header id="d5-header" class="header-d5">
      <div class="logo-d5">
        {{ logo }}
      </div>
      
      <nav class="navigation-d5">
        {% assign links = section.settings.link_list %}
        <ul class="nav-links-list-d5">
          {% for link in links.links %}
          <li class="nav-item-d5">
            <a class="nav-link-d5" href="{{ link.url }}">{{ link.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      <div class="d5-icons">
         {%
          render 'header__action-icons',
          display_search: true,
          header_icon_class: 'd5-header-icons',
        %}
      </div>
    </header>
  </div>
  {% if settings.search_display_style == 'overlay' %}
    {% render 'search-overlay' %}
  {% endif %}
</div>
<script src="{{ 'd5-header.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "D5 Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "link_list",
      "id": "link_list",
      "label": "Menu"
    }
  ],
  "presets": [
    {
      "name": "Header D5"
    }
  ]
}
{% endschema %}
