

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-552104483333604297.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-552104483333604297.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-552104483333604297.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-552104483333604297.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-552104483333604297.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-552104483333604297.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-552104483333604297.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-552104483333604297.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-552104483333604297.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-552104483333604297.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-552104483333604297.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-552104483333604297.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-552104483333604297.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-552104483333604297.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-552104483333604297.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-552104483333604297.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-552104483333604297.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-552104483333604297.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-552104483333604297.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-552104483333604297.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-552104483333604297.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-552104483333604297.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-552104483333604297.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-552104483333604297.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-552104483333604297.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-552104483333604297.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-552104483333604297.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-552104483333604297.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-552104483333604297.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-552104483333604297.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-552104483333604297.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-552104483333604297.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-552104483333604297.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-552104483333604297.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-552104483333604297.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-552104483333604297.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-552104483333604297.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-552104483333604297.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-552104483333604297.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-552104483333604297.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-552104483333604297.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-552104483333604297.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-552104483333604297.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-552104483333604297.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-552104483333604297.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-552104483333604297.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-552104483333604297.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-552104483333604297.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-552104483333604297.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-552104483333604297.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-552104483333604297.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-552104483333604297.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-552104483333604297.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-552104483333604297.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-552104483333604297.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-552104483333604297.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-552104483333604297.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-552104483333604297.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-552104483333604297.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-552104483333604297.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-552104483333604297.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-552104483333604297.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-552104483333604297.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-552104483333604297.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-552104483333604297.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-552104483333604297.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-552104483333604297 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-552104483333604297 .gp-relative{position:relative}.gps-552104483333604297 .gp-z-1{z-index:1}.gps-552104483333604297 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-552104483333604297 .gp-mb-0{margin-bottom:0}.gps-552104483333604297 .gp-block{display:block}.gps-552104483333604297 .gp-flex{display:flex}.gps-552104483333604297 .gp-inline-flex{display:inline-flex}.gps-552104483333604297 .gp-grid{display:grid}.gps-552104483333604297 .\!gp-hidden{display:none!important}.gps-552104483333604297 .gp-hidden{display:none}.gps-552104483333604297 .gp-h-full{height:100%}.gps-552104483333604297 .gp-max-w-full{max-width:100%}.gps-552104483333604297 .gp-flex-none{flex:none}.gps-552104483333604297 .gp-flex-col{flex-direction:column}.gps-552104483333604297 .gp-items-center{align-items:center}.gps-552104483333604297 .gp-justify-start{justify-content:flex-start}.gps-552104483333604297 .gp-justify-center{justify-content:center}.gps-552104483333604297 .gp-gap-y-0{row-gap:0}.gps-552104483333604297 .gp-overflow-hidden{overflow:hidden}.gps-552104483333604297 .gp-break-words{overflow-wrap:break-word}.gps-552104483333604297 .gp-rounded-none{border-radius:0}.gps-552104483333604297 .gp-text-center{text-align:center}.gps-552104483333604297 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-552104483333604297 .gp-no-underline{text-decoration-line:none}.gps-552104483333604297 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-552104483333604297 .gp-duration-200{transition-duration:.2s}.gps-552104483333604297 .gp-duration-300{transition-duration:.3s}.gps-552104483333604297 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-552104483333604297 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-552104483333604297 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-552104483333604297 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-552104483333604297 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-552104483333604297 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-552104483333604297 .tablet\:gp-block{display:block}.gps-552104483333604297 .tablet\:\!gp-hidden{display:none!important}.gps-552104483333604297 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-552104483333604297 .mobile\:gp-block{display:block}.gps-552104483333604297 .mobile\:\!gp-hidden{display:none!important}.gps-552104483333604297 .mobile\:gp-hidden{display:none}}.gps-552104483333604297 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-552104483333604297 .\[\&_p\]\:gp-inline p{display:inline}.gps-552104483333604297 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-552104483333604297 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-552104483333604297 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gdxl9EfsLw" data-id="gdxl9EfsLw"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pl:15px;--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F2F1EA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdxl9EfsLw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYXMnHjt73 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gKPVf1RTaM" data-id="gKPVf1RTaM"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:63px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1057px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKPVf1RTaM gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVX4FFggRd gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gqCA3nJcce" data-id="gqCA3nJcce"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--ml:1px;--mr:auto;--pl:var(--g-s-2xl);--pr:var(--g-s-2xl);--pl-mobile:13px;--pr-mobile:13px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:66%;--w-tablet:66%;--w-mobile:100%;--bgc:#F2F1EA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqCA3nJcce gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gKq5sGtMMH gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gamfJVOAK4">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gamfJVOAK4 "
        style="--tt:default;--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#141414;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:0px;--size:33px;--size-tablet:33px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggamfJVOAK4_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gvCpw-bHOf" data-id="gvCpw-bHOf"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvCpw-bHOf gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gOzWZeROTA gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gA0JI9rrdY">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gA0JI9rrdY "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#141414;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggA0JI9rrdY_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gaBzpH0HGC gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gakSi85hBp">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gakSi85hBp "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#595959;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggakSi85hBp_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g_M2DqdFBQ" data-id="g_M2DqdFBQ"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_M2DqdFBQ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glNv2rrKh3 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g7JWE9FPnM">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g7JWE9FPnM "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#141414;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg7JWE9FPnM_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYihR618lp gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g7c5QLgPsV">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g7c5QLgPsV "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#595959;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg7c5QLgPsV_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gaPYg-9pgz" data-id="gaPYg-9pgz"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:8px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gaPYg-9pgz gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gcanecwnto gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gsr9fAnQjr">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gsr9fAnQjr "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#141414;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggsr9fAnQjr_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glFUBQ46SU gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gxfLWOK4t4">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gxfLWOK4t4 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#595959;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggxfLWOK4t4_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ghodBVDObN">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="ghodBVDObN "
        style="--tt:default;--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#141414;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:0px;--size:33px;--size-tablet:33px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghodBVDObN_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gAjuoQAnei">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gAjuoQAnei "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:50px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#595959;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggAjuoQAnei_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gZ7SjsVFx-">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gZ7SjsVFx- "
        style="--tt:default;--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:50px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#141414;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:0px;--size:33px;--size-tablet:33px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggZ7SjsVFx-_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gFT9lCMO7m">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gFT9lCMO7m "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:50px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#595959;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggFT9lCMO7m_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g0tD_R6oc8">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g0tD_R6oc8 "
        style="--tt:default;--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:50px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#141414;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:0px;--size:33px;--size-tablet:33px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg0tD_R6oc8_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gRXTWcAR17">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gRXTWcAR17 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:50px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#595959;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggRXTWcAR17_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--mb:50px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:left"
    
  >
    <style>
    .gePi2AbZWl.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gePi2AbZWl:hover::before {
      
      
    }

    .gePi2AbZWl:hover .gp-button-icon {
      color: undefined;
    }

     .gePi2AbZWl .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gePi2AbZWl:hover .gp-button-price {
      color: undefined;
    }

    .gePi2AbZWl .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gePi2AbZWl .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gePi2AbZWl:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="https://rings.com/apps/ring-creator/rb-get-started" target="_self" data-id="gePi2AbZWl" aria-label="<p>Design Your Dream Ring Now</p>"
      
      data-state="idle"
      class="gePi2AbZWl gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center gp-g-paragraph-1"
      style="--bg:#8b5e9a;--hvr-bg:#d4af37;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggePi2AbZWl_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>
<div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--pt:16px;--pb:16px;--mb-mobile:0px" class="gc0EMZSQ7W ">
      
    <div
    data-id="gc0EMZSQ7W"
      class="gp-flex gp-justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#EBEBEB"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#EBEBEB;--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#EBEBEB;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#EBEBEB;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-552104483333604297 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/09c241-13/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=552104470884910106&sectionId=552104483333604297)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggamfJVOAK4_text","label":"ggamfJVOAK4_text","default":"What Makes the 1-Carat Diamond Ideal for Buyers?"},{"type":"html","id":"ggA0JI9rrdY_text","label":"ggA0JI9rrdY_text","default":"<p>1</p>"},{"type":"html","id":"ggakSi85hBp_text","label":"ggakSi85hBp_text","default":"<p><strong>Affordable Luxury</strong><br>While larger diamonds may be out of reach for some budgets, a 1-carat diamond offers a premium feel without breaking the bank.</p>"},{"type":"html","id":"gg7JWE9FPnM_text","label":"gg7JWE9FPnM_text","default":"<p>2</p>"},{"type":"html","id":"gg7c5QLgPsV_text","label":"gg7c5QLgPsV_text","default":"<p><strong>Perfect for Every Hand Size</strong></p><p>Its proportion suits all finger shapes and sizes, offering a balanced and flattering look.</p>"},{"type":"html","id":"ggsr9fAnQjr_text","label":"ggsr9fAnQjr_text","default":"<p>3</p>"},{"type":"html","id":"ggxfLWOK4t4_text","label":"ggxfLWOK4t4_text","default":"<p><strong>Resale and Sentimental Value</strong></p><p>Its timeless appeal ensures it retains its value over time, both financially and emotionally.</p>"},{"type":"html","id":"gghodBVDObN_text","label":"gghodBVDObN_text","default":"How to Wear and Style the 1-Carat Solitaire Ring"},{"type":"html","id":"ggAjuoQAnei_text","label":"ggAjuoQAnei_text","default":"<p><strong>As an Engagement Ring:</strong><br>Pair the solitaire diamond with a plain or pave band for a traditional look, or opt for a halo setting to add extra sparkle.</p><p>&nbsp;</p><p><strong>As a Fashion Ring:</strong><br>Stack it with other rings for a trendy, layered look, or wear it solo as a bold statement piece.</p><p>&nbsp;</p><p><strong>As a Gift:</strong><br>Whether it’s for a loved one or yourself, the solitaire design’s timeless appeal ensures it complements any wardrobe or occasion.</p>"},{"type":"html","id":"ggZ7SjsVFx-_text","label":"ggZ7SjsVFx-_text","default":"Key Buying Tips for the 1-Carat Solitaire Round Diamond Ring"},{"type":"html","id":"ggFT9lCMO7m_text","label":"ggFT9lCMO7m_text","default":"<p><strong>Prioritize Cut Quality:</strong><br>A high-quality cut ensures the diamond sparkles to its full potential. Look for an Ideal, Excellent, or Very Good cut grade.</p><p>&nbsp;</p><p><strong>Focus on the Metal:</strong><br>Choose a metal that suits your or the recipient’s style. While 14k white gold is currently a popular trend for its timeless elegance and modern appeal, yellow and rose gold bring a warm, romantic touch to any design.</p><p>&nbsp;</p><p><strong>Consider Ethical Sourcing:</strong><br>Opt for conflict-free or lab-grown diamonds to ensure your purchase aligns with ethical and sustainable practices.</p>"},{"type":"html","id":"gg0tD_R6oc8_text","label":"gg0tD_R6oc8_text","default":"A Ring That Tells Your Story"},{"type":"html","id":"ggRXTWcAR17_text","label":"ggRXTWcAR17_text","default":"<p>The 1-carat solitaire round diamond ring is more than just a piece of jewelry—it’s a symbol of love, self-expression, and timeless elegance. Whether you’re starting a new chapter with an engagement, celebrating yourself with a fashion ring, or giving a meaningful gift, this ring is the perfect choice.</p><p>&nbsp;</p><p><i>Questions or Comments? Contact us at <strong>sales@rings.com</strong></i></p>"},{"type":"html","id":"ggePi2AbZWl_label","label":"ggePi2AbZWl_label","default":"<p>Design Your Dream Ring Now</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
