

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-543551310859928642.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-543551310859928642.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-543551310859928642.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-543551310859928642.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-543551310859928642.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-543551310859928642.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-543551310859928642.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-543551310859928642.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-543551310859928642.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-543551310859928642.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-543551310859928642.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-543551310859928642.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-543551310859928642.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-543551310859928642.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-543551310859928642.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-543551310859928642.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-543551310859928642.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-543551310859928642.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-543551310859928642.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-543551310859928642.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-543551310859928642.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-543551310859928642.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-543551310859928642.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-543551310859928642.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-543551310859928642.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-543551310859928642.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-543551310859928642.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-543551310859928642.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-543551310859928642.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-543551310859928642.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-543551310859928642.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-543551310859928642.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-543551310859928642.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-543551310859928642.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-543551310859928642.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-543551310859928642.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-543551310859928642.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-543551310859928642.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-543551310859928642.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-543551310859928642.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-543551310859928642.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-543551310859928642.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-543551310859928642.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-543551310859928642.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-543551310859928642.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-543551310859928642.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-543551310859928642.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-543551310859928642.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-543551310859928642.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-543551310859928642.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-543551310859928642.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-543551310859928642.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-543551310859928642.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-543551310859928642.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-543551310859928642.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-543551310859928642.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-543551310859928642.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-543551310859928642.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-543551310859928642.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-543551310859928642.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-543551310859928642.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-543551310859928642.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-543551310859928642.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-543551310859928642.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-543551310859928642.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-543551310859928642.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-543551310859928642.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-543551310859928642.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-543551310859928642.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-543551310859928642.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-543551310859928642.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-543551310859928642.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-543551310859928642.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-543551310859928642.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-543551310859928642.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-543551310859928642.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-543551310859928642.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-543551310859928642.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-543551310859928642.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-543551310859928642.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-543551310859928642.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-543551310859928642.gps.gpsil [style*="--bc-mobile:"]{border-color:var(--bc-mobile)}.gps-543551310859928642.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-543551310859928642.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-543551310859928642.gps.gpsil [style*="--bs-mobile:"]{border-style:var(--bs-mobile)}.gps-543551310859928642.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-543551310859928642.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-543551310859928642.gps.gpsil [style*="--bw-mobile:"]{border-width:var(--bw-mobile)}.gps-543551310859928642.gps.gpsil [style*="--shadow-mobile:"]{box-shadow:var(--shadow-mobile)}.gps-543551310859928642.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-543551310859928642.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-543551310859928642.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-543551310859928642.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-543551310859928642.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-543551310859928642.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-543551310859928642.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-543551310859928642.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-543551310859928642.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-543551310859928642.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-543551310859928642.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-543551310859928642.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-543551310859928642.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-543551310859928642.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-543551310859928642.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-543551310859928642.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-543551310859928642.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-543551310859928642.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-543551310859928642.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-543551310859928642.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-543551310859928642.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-543551310859928642.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-543551310859928642 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-543551310859928642 .gp-g-subheading-3{font-family:var(--g-sh3-ff);font-size:var(--g-sh3-size);font-style:var(--g-sh3-fs);font-weight:var(--g-sh3-weight);letter-spacing:var(--g-sh3-ls);line-height:var(--g-sh3-lh)}.gps-543551310859928642 .gp-relative{position:relative}.gps-543551310859928642 .gp-z-1{z-index:1}.gps-543551310859928642 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-543551310859928642 .gp-mb-0{margin-bottom:0}.gps-543551310859928642 .gp-flex{display:flex}.gps-543551310859928642 .gp-inline-flex{display:inline-flex}.gps-543551310859928642 .gp-grid{display:grid}.gps-543551310859928642 .gp-contents{display:contents}.gps-543551310859928642 .\!gp-hidden{display:none!important}.gps-543551310859928642 .gp-hidden{display:none}.gps-543551310859928642 .gp-h-full{height:100%}.gps-543551310859928642 .gp-w-full{width:100%}.gps-543551310859928642 .gp-max-w-full{max-width:100%}.gps-543551310859928642 .gp-shrink-0{flex-shrink:0}.gps-543551310859928642 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-543551310859928642 .gp-flex-col{flex-direction:column}.gps-543551310859928642 .gp-flex-wrap{flex-wrap:wrap}.gps-543551310859928642 .gp-items-center{align-items:center}.gps-543551310859928642 .gp-justify-center{justify-content:center}.gps-543551310859928642 .gp-gap-y-0{row-gap:0}.gps-543551310859928642 .gp-overflow-hidden{overflow:hidden}.gps-543551310859928642 .gp-break-words{overflow-wrap:break-word}.gps-543551310859928642 .gp-rounded-none{border-radius:0}.gps-543551310859928642 .gp-text-left{text-align:left}.gps-543551310859928642 .gp-text-center{text-align:center}.gps-543551310859928642 .gp-leading-\[0\]{line-height:0}.gps-543551310859928642 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-543551310859928642 .gp-no-underline{text-decoration-line:none}.gps-543551310859928642 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-543551310859928642 .gp-duration-200{transition-duration:.2s}.gps-543551310859928642 .gp-duration-300{transition-duration:.3s}.gps-543551310859928642 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-543551310859928642 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-543551310859928642 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-543551310859928642 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-543551310859928642 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-543551310859928642 .tablet\:\!gp-hidden{display:none!important}.gps-543551310859928642 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-543551310859928642 .mobile\:\!gp-hidden{display:none!important}.gps-543551310859928642 .mobile\:gp-hidden{display:none}}.gps-543551310859928642 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-543551310859928642 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-543551310859928642 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-543551310859928642 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-543551310859928642 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-543551310859928642 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-543551310859928642 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-543551310859928642 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-543551310859928642 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-543551310859928642 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-543551310859928642 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-543551310859928642 .\[\&_p\]\:gp-inline p{display:inline}.gps-543551310859928642 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-543551310859928642 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-543551310859928642 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gbBhgbCkx2" data-id="gbBhgbCkx2"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--pt:0px;--pb:var(--g-s-3xl);--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:42px;--mb-tablet:0px;--pt-tablet:0px;--pb-tablet:42px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbBhgbCkx2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0GWR5k3iN gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gAimaIPiNO" data-id="gAimaIPiNO"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:40px;--pt:0px;--pl:20px;--pb:0px;--pr:20px;--mb-mobile:20px;--pt-mobile:0px;--pb-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#764293;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAimaIPiNO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRkqLUscvI gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g0qIa7UuyX">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g0qIa7UuyX "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:50%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-subheading-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#f3f3f3;word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg0qIa7UuyX_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g52ZrPp22S" data-id="g52ZrPp22S"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pl:20px;--pr:20px;--pl-mobile:20px;--pr-mobile:20px;--cg:30px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:1240px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g52ZrPp22S gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZ9rzTe66g gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g4AZrq9fdo" data-id="g4AZrq9fdo"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--pl:0px;--pb:0px;--pr:var(--g-s-2xl);--mb-mobile:42px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4AZrq9fdo gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gNZyfJ7s89 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gSwxtF1ywZ">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gSwxtF1ywZ "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:16px;--mb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--ls:0px;--size:32px;--size-tablet:32px;--size-mobile:22px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--weight:bold;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggSwxtF1ywZ_text | replace: '$locationOrigin', locationOrigin }}</h1>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gma2sgV3cw">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gma2sgV3cw "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:24px;--mb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:rgba(87, 87, 87, 0.6);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggma2sgV3cw_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gma2sgV3cw">
        .gma2sgV3cw {

}
.gma2sgV3cw p {

}
      </style>
    <div
    
     data-id="gjgWx01tcb"
    role="presentation"
    class="gp-group/image gjgWx01tcb"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:40px;--mb-mobile:20px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_542333615069987699-3c5587d3-1a4b-4eaf-8b6c-52ec344ae8a5_768x.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_542333615069987699-3c5587d3-1a4b-4eaf-8b6c-52ec344ae8a5_1024x.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_542333615069987699-3c5587d3-1a4b-4eaf-8b6c-52ec344ae8a5.jpg" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gjgWx01tcb">
        .gjgWx01tcb {

}
.gjgWx01tcb > figure > img {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gW6tp-bccR">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gW6tp-bccR "
        style="--ta:left;--mb:30px;--mb-mobile:24px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:130%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggW6tp-bccR_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gs-02NarNU">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gs-02NarNU "
        style="--ta:left;--mb:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:25px;--size-tablet:25px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggs-02NarNU_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g169nFF5qT">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g169nFF5qT "
        style="--ta:left;--mb:20px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:130%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg169nFF5qT_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper  class="gy8dcgD9xQ ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="gy8dcgD9xQ"
      data-id="gy8dcgD9xQ"
      gp-data='{"position":{"desktop":"baseline","mobile":"baseline","tablet":"baseline"},"iconWidth":{"desktop":20,"mobile":20,"tablet":16}}'
       style="--bs:solid;--bs-mobile:dashed;--bw:0px;--bw-mobile:5px 5px 5px 5px;--bc:#121212;--bc-mobile:#3c96ee;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr-mobile:8px;--bbrr-mobile:8px;--btlr-mobile:8px;--btrr-mobile:8px;--mb:var(--g-s-xl);--ml-mobile:0px;--mb-mobile:30px;--pt-mobile:15px;--pl-mobile:4px;--pb-mobile:15px;--pr-mobile:21px;--bgc:transparent;--bgc-mobile:rgba(60, 150, 238, 0.3);--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px;--rg-mobile:8px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gy8dcgD9xQ"
            style="--cg:3px;--cg-mobile:4px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:10px;--pr:5px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#4d903f;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:16px;--size-mobile:20px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723126055272">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M243.31,90.91l-128.4,128.4a16,16,0,0,1-22.62,0l-71.62-72a16,16,0,0,1,0-22.61l20-20a16,16,0,0,1,22.58,0L104,144.22l96.76-95.57a16,16,0,0,1,22.59,0l19.95,19.54A16,16,0,0,1,243.31,90.91Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#151515">
                {{ section.settings.ggy8dcgD9xQ_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gy8dcgD9xQ"
            style="--cg:3px;--cg-mobile:4px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
            data-index="1"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:10px;--pr:5px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#4d903f;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:16px;--size-mobile:20px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723126055272">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M243.31,90.91l-128.4,128.4a16,16,0,0,1-22.62,0l-71.62-72a16,16,0,0,1,0-22.61l20-20a16,16,0,0,1,22.58,0L104,144.22l96.76-95.57a16,16,0,0,1,22.59,0l19.95,19.54A16,16,0,0,1,243.31,90.91Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#151515">
                {{ section.settings.ggy8dcgD9xQ_childItem_1 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gy8dcgD9xQ"
            style="--cg:3px;--cg-mobile:4px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
            data-index="2"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:10px;--pr:5px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#4d903f;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:16px;--size-mobile:20px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723126055272">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M243.31,90.91l-128.4,128.4a16,16,0,0,1-22.62,0l-71.62-72a16,16,0,0,1,0-22.61l20-20a16,16,0,0,1,22.58,0L104,144.22l96.76-95.57a16,16,0,0,1,22.59,0l19.95,19.54A16,16,0,0,1,243.31,90.91Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#151515">
                {{ section.settings.ggy8dcgD9xQ_childItem_2 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div
    
     data-id="g174gxTx1s"
    role="presentation"
    class="gp-group/image g174gxTx1s"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:0px;--mb-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_542333615069987699-b72e7e95-7ab1-4cbf-a856-8987bd17a382_768x.png" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_542333615069987699-b72e7e95-7ab1-4cbf-a856-8987bd17a382_1024x.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_542333615069987699-b72e7e95-7ab1-4cbf-a856-8987bd17a382.png" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-g174gxTx1s">
        .g174gxTx1s {

}
.g174gxTx1s > figure > img {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gMeOCAUVWE">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gMeOCAUVWE "
        style="--ta:left;--mb:40px;--mb-mobile:24px;--mb-tablet:30px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:120%;--c:rgba(21, 21, 21, 0.5);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggMeOCAUVWE_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gKeTSdamKn">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gKeTSdamKn "
        style="--ta:left;--mb:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:15px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggKeTSdamKn_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gu3DD8JQbn">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gu3DD8JQbn "
        style="--ta:left;--mb:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:25px;--size-tablet:22px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggu3DD8JQbn_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gq0ZMlQLsK" data-id="gq0ZMlQLsK"
        style="--mb:20px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gq0ZMlQLsK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gjH3-aSe50 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g0nXsYnsdu"
    role="presentation"
    class="gp-group/image g0nXsYnsdu"
    style="--mb:0px;--d:block;--d-tablet:block;--d-mobile:none;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_542333615069987699-bcab8acc-b08a-448c-bd58-9b71197029ea_768x.png" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_542333615069987699-bcab8acc-b08a-448c-bd58-9b71197029ea_1024x.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_542333615069987699-bcab8acc-b08a-448c-bd58-9b71197029ea.png" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:3/4;--aspect-tablet:3/4;--aspect-mobile:3/4;--objf:cover;--w-mobile:30%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:8px;--bblr:8px;--bbrr:8px;--btlr:8px;--radiusType:custom;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gh6XkPH6nb gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="giDMEzedy5"
    role="presentation"
    class="gp-group/image giDMEzedy5"
    style="--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:10px;--pb-mobile:10px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bs-mobile:none;--bw:1px 1px 1px 1px;--bw-mobile:1px 1px 1px 1px;--bc:#121212;--bc-mobile:#121212;--bblr-mobile:0px;--bbrr-mobile:0px;--btlr-mobile:0px;--btrr-mobile:0px;--shadow:none;--shadow-mobile:none;--op:100%;--op-mobile:100%;--ta:center;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center;--jc-mobile:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_542333615069987699-08a281cd-e043-4f53-a357-5dcf54f518b0_768x.png" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_542333615069987699-08a281cd-e043-4f53-a357-5dcf54f518b0_1024x.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_542333615069987699-08a281cd-e043-4f53-a357-5dcf54f518b0.png" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:3/4;--aspect-tablet:3/4;--aspect-mobile:3/4;--objf:cover;--objf-mobile:cover;--w-mobile:80%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#3c96ee;--bw:5px 5px 5px 5px;--btrr:8px;--bblr:8px;--bbrr:8px;--btlr:8px;--radiusType:custom;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="goHjAxWR17">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="goHjAxWR17 "
        style="--ta:left;--mb:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggoHjAxWR17_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gH7QxwfTZd">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gH7QxwfTZd "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:40px;--mb-mobile:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--ls:0px;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggH7QxwfTZd_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gH7QxwfTZd">
        .gH7QxwfTZd {

}
.gH7QxwfTZd p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="goge4O9jQP">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="goge4O9jQP "
        style="--ta:left;--mb:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggoge4O9jQP_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gatbLnJTE7">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gatbLnJTE7 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:40px;--mb-mobile:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggatbLnJTE7_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gatbLnJTE7">
        .gatbLnJTE7 {

}
.gatbLnJTE7 p {

}
      </style>
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:60px;--mb-mobile:40px;--ta:center"
    
  >
    <style>
    .gitWRRVIHI.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gitWRRVIHI:hover::before {
      
      
    }

    .gitWRRVIHI:hover .gp-button-icon {
      color: undefined;
    }

     .gitWRRVIHI .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gitWRRVIHI:hover .gp-button-price {
      color: undefined;
    }

    .gitWRRVIHI .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gitWRRVIHI .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gitWRRVIHI:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="https://www.rings.com/cart/50741292794129:1" target="_blank" data-id="gitWRRVIHI" aria-label="<p>Click to Secure Your $97 Membership (Normally $349)</p>"
      
      data-state="idle"
      class="gitWRRVIHI gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#07829F;--bg:#07829F;--radius:var(--g-radius-small);--shadow:none;--w:80%;--w-tablet:80%;--w-mobile:80%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:20px;--pb:20px;--c:var(--g-c-text-3, text-3);--size:23px;--size-tablet:20px;--size-mobile:20px;--ff:var(--g-font-body, body);--weight:600;--ls:0px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
    >
      
    <div
    class="gp-inline-flex gp-flex-row-reverse">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817609069166952">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M220.24,132.24l-72,72a6,6,0,0,1-8.48-8.48L201.51,134H40a6,6,0,0,1,0-12H201.51L139.76,60.24a6,6,0,0,1,8.48-8.48l72,72A6,6,0,0,1,220.24,132.24Z" /></svg></span>
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:23px;--size-tablet:20px;--size-mobile:20px"
      >
        {{ section.settings.ggitWRRVIHI_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gitWRRVIHI">
        button.gitWRRVIHI {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gW3Ixp-O3f">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gW3Ixp-O3f "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:20px;--mb-mobile:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--ls:0px;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggW3Ixp-O3f_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gW3Ixp-O3f">
        .gW3Ixp-O3f {

}
.gW3Ixp-O3f p {

}
      </style>
    <div gp-el-wrapper  class="gUMlkjlp4s ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="gUMlkjlp4s"
      data-id="gUMlkjlp4s"
      gp-data='{"position":{"desktop":"baseline","mobile":"baseline","tablet":"baseline"},"iconWidth":{"desktop":16,"mobile":16,"tablet":16}}'
       style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:var(--g-s-xl);--mb-mobile:20px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:16px;--rg-mobile:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gUMlkjlp4s"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#764293;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817572701143400">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M216,68H190.06A33.82,33.82,0,0,0,196,49.69,36.62,36.62,0,0,0,158.31,12,33.44,33.44,0,0,0,134,23.25a54.65,54.65,0,0,0-6,8.3,54.65,54.65,0,0,0-6-8.3A33.44,33.44,0,0,0,97.69,12,36.62,36.62,0,0,0,60,49.69,33.82,33.82,0,0,0,65.94,68H40A20,20,0,0,0,20,88v32a20,20,0,0,0,16,19.6V200a20,20,0,0,0,20,20H200a20,20,0,0,0,20-20V139.6A20,20,0,0,0,236,120V88A20,20,0,0,0,216,68Zm-4,48H140V92h72ZM152,39.17A9.59,9.59,0,0,1,159,36h.35A12.62,12.62,0,0,1,172,49,9.59,9.59,0,0,1,168.83,56c-6.9,6.12-18.25,9.26-27.63,10.76C142.7,57.42,145.84,46.07,152,39.17ZM87.7,39.7A12.8,12.8,0,0,1,96.61,36H97A9.59,9.59,0,0,1,104,39.17c6.12,6.9,9.26,18.24,10.75,27.61C105.45,65.27,94,62.13,87.17,56A9.59,9.59,0,0,1,84,49,12.72,12.72,0,0,1,87.7,39.7ZM44,92h72v24H44Zm16,48h56v56H60Zm80,56V140h56v56Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424">
                {{ section.settings.ggUMlkjlp4s_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gUMlkjlp4s"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
            data-index="1"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#764293;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817572701143400">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M216,68H190.06A33.82,33.82,0,0,0,196,49.69,36.62,36.62,0,0,0,158.31,12,33.44,33.44,0,0,0,134,23.25a54.65,54.65,0,0,0-6,8.3,54.65,54.65,0,0,0-6-8.3A33.44,33.44,0,0,0,97.69,12,36.62,36.62,0,0,0,60,49.69,33.82,33.82,0,0,0,65.94,68H40A20,20,0,0,0,20,88v32a20,20,0,0,0,16,19.6V200a20,20,0,0,0,20,20H200a20,20,0,0,0,20-20V139.6A20,20,0,0,0,236,120V88A20,20,0,0,0,216,68Zm-4,48H140V92h72ZM152,39.17A9.59,9.59,0,0,1,159,36h.35A12.62,12.62,0,0,1,172,49,9.59,9.59,0,0,1,168.83,56c-6.9,6.12-18.25,9.26-27.63,10.76C142.7,57.42,145.84,46.07,152,39.17ZM87.7,39.7A12.8,12.8,0,0,1,96.61,36H97A9.59,9.59,0,0,1,104,39.17c6.12,6.9,9.26,18.24,10.75,27.61C105.45,65.27,94,62.13,87.17,56A9.59,9.59,0,0,1,84,49,12.72,12.72,0,0,1,87.7,39.7ZM44,92h72v24H44Zm16,48h56v56H60Zm80,56V140h56v56Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424">
                {{ section.settings.ggUMlkjlp4s_childItem_1 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gUMlkjlp4s"
            style="--cg:8px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
            data-index="2"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#764293;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817572701143400">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M216,68H190.06A33.82,33.82,0,0,0,196,49.69,36.62,36.62,0,0,0,158.31,12,33.44,33.44,0,0,0,134,23.25a54.65,54.65,0,0,0-6,8.3,54.65,54.65,0,0,0-6-8.3A33.44,33.44,0,0,0,97.69,12,36.62,36.62,0,0,0,60,49.69,33.82,33.82,0,0,0,65.94,68H40A20,20,0,0,0,20,88v32a20,20,0,0,0,16,19.6V200a20,20,0,0,0,20,20H200a20,20,0,0,0,20-20V139.6A20,20,0,0,0,236,120V88A20,20,0,0,0,216,68Zm-4,48H140V92h72ZM152,39.17A9.59,9.59,0,0,1,159,36h.35A12.62,12.62,0,0,1,172,49,9.59,9.59,0,0,1,168.83,56c-6.9,6.12-18.25,9.26-27.63,10.76C142.7,57.42,145.84,46.07,152,39.17ZM87.7,39.7A12.8,12.8,0,0,1,96.61,36H97A9.59,9.59,0,0,1,104,39.17c6.12,6.9,9.26,18.24,10.75,27.61C105.45,65.27,94,62.13,87.17,56A9.59,9.59,0,0,1,84,49,12.72,12.72,0,0,1,87.7,39.7ZM44,92h72v24H44Zm16,48h56v56H60Zm80,56V140h56v56Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424">
                {{ section.settings.ggUMlkjlp4s_childItem_2 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVp_MqdSxo gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g8Czqj9hx9" data-id="g8Czqj9hx9"
        style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#CCCCCC;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pos:sticky;--pos-mobile:static;--right:0px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-xl);--top:32px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FAFAFA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8Czqj9hx9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gAqAaPH0x_ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gS0dhi_Rpj">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gS0dhi_Rpj "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:12px;--mb-mobile:10px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-heading, heading);--weight:700;--ls:0px;--size:23px;--size-tablet:24px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggS0dhi_Rpj_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    
    <div
    data-id="gM7W9KO0Hy"
      
      data-id="gM7W9KO0Hy"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:var(--g-s-m);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">

    <div
            class="gp-flex gp-flex-wrap"
            style="--cg:2px;--jc:center">
            <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gyN7Eq_t9b ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] g9L_rUDam-"
    >
      <div 
      data-id="g9L_rUDam-"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:18px;--h:16px;--h-tablet:16px;--h-mobile:18px;--minw:16px;--minw-tablet:16px;--minw-mobile:18px;--height-desktop:16px;--height-tablet:16px;--height-mobile:18px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="groDHXt7cc ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gwzEEyGJ6T"
    >
      <div 
      data-id="gwzEEyGJ6T"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:18px;--h:16px;--h-tablet:16px;--h-mobile:18px;--minw:16px;--minw-tablet:16px;--minw-mobile:18px;--height-desktop:16px;--height-tablet:16px;--height-mobile:18px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gacdQfF6mx ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gKcx8oh44R"
    >
      <div 
      data-id="gKcx8oh44R"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:18px;--h:16px;--h-tablet:16px;--h-mobile:18px;--minw:16px;--minw-tablet:16px;--minw-mobile:18px;--height-desktop:16px;--height-tablet:16px;--height-mobile:18px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gW40gKu-9i ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] gnTgMsTrHg"
    >
      <div 
      data-id="gnTgMsTrHg"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:18px;--h:16px;--h-tablet:16px;--h-mobile:18px;--minw:16px;--minw-tablet:16px;--minw-mobile:18px;--height-desktop:16px;--height-tablet:16px;--height-mobile:18px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="g7p4HkjN4I ">
      
    <div 
      
      class="gp-flex gp-w-full gp-flex-col gp-items-center"
    >
    
  <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
      class="gp-leading-[0] g7Dq71n2vk"
    >
      <div 
      data-id="g7Dq71n2vk"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:18px;--h:16px;--h-tablet:16px;--h-mobile:18px;--minw:16px;--minw-tablet:16px;--minw-mobile:18px;--height-desktop:16px;--height-tablet:16px;--height-mobile:18px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" data-id="508414815326568800" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"/></svg></span>
    </div>
      </div>
    </div>
    
    </div>
  
      </div>
         </div>
    </div>
  
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g-d5hNdA-Q">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g-d5hNdA-Q "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:var(--g-s-xl);--mb-mobile:21px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-heading, heading);--weight:600;--ls:0px;--size:23px;--size-tablet:24px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg-d5hNdA-Q_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper  class="gqx1bGKwGg ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="gqx1bGKwGg"
      data-id="gqx1bGKwGg"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":16,"mobile":18,"tablet":16}}'
       style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:var(--g-s-xl);--mb-mobile:21px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:8px;--rg-mobile:8px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gqx1bGKwGg"
            style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:18px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424">
                {{ section.settings.ggqx1bGKwGg_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gqx1bGKwGg"
            style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="1"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:18px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424">
                {{ section.settings.ggqx1bGKwGg_childItem_1 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gqx1bGKwGg"
            style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="2"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:18px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424">
                {{ section.settings.ggqx1bGKwGg_childItem_2 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gqx1bGKwGg"
            style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="3"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:18px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424">
                {{ section.settings.ggqx1bGKwGg_childItem_3 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gE-_Jx0T16">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gE-_Jx0T16 "
        style="--ta:left;--mb:var(--g-s-xl);--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-heading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--size:23px;--size-tablet:46px;--size-mobile:41px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggE-_Jx0T16_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    <div
    
     data-id="g8rxt6P2sm"
    role="presentation"
    class="gp-group/image g8rxt6P2sm"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:var(--g-s-xl);--mb-mobile:21px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_542333615069987699-ae33b1e7-7d64-492b-8070-f6ba6a9adcb4_768x.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_542333615069987699-ae33b1e7-7d64-492b-8070-f6ba6a9adcb4_1024x.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_542333615069987699-ae33b1e7-7d64-492b-8070-f6ba6a9adcb4.jpg" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-g8rxt6P2sm">
        .g8rxt6P2sm {

}
.g8rxt6P2sm > figure > img {

}
      </style>
    
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    
  >
    <style>
    .gcoTc1H6UW.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
    }

    .gcoTc1H6UW:hover::before {
      
      
    }

    .gcoTc1H6UW:hover .gp-button-icon {
      color: undefined;
    }

     .gcoTc1H6UW .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gcoTc1H6UW:hover .gp-button-price {
      color: undefined;
    }

    .gcoTc1H6UW .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gcoTc1H6UW .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gcoTc1H6UW:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="https://www.rings.com/cart/50741292794129:1" target="_blank" data-id="gcoTc1H6UW" aria-label="<p>Get Instant Access to Your $499 Diamond Ring Offer</p>"
      
      data-state="idle"
      class="gcoTc1H6UW gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#07829F;--bg:#07829F;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:20px;--pb:20px;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--pt-mobile:16px;--pb-mobile:16px;--c:var(--g-c-text-3, text-3);--size:23px;--size-tablet:20px;--size-mobile:20px;--ff:var(--g-font-body, body);--weight:600;--ls:0px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
    >
      
    <div
    class="gp-inline-flex gp-flex-row-reverse">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817609069166952">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M220.24,132.24l-72,72a6,6,0,0,1-8.48-8.48L201.51,134H40a6,6,0,0,1,0-12H201.51L139.76,60.24a6,6,0,0,1,8.48-8.48l72,72A6,6,0,0,1,220.24,132.24Z" /></svg></span>
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:23px;--size-tablet:20px;--size-mobile:20px"
      >
        {{ section.settings.ggcoTc1H6UW_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gcoTc1H6UW">
        button.gcoTc1H6UW {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-543551310859928642 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/09c241-13/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=543551310675313730&sectionId=543551310859928642)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg0qIa7UuyX_text","label":"gg0qIa7UuyX_text","default":"<span style=\"font-size:28px;\"><strong>Rings.com</strong></span>"},{"type":"html","id":"ggSwxtF1ywZ_text","label":"ggSwxtF1ywZ_text","default":"Say Yes for Less: Get This $2,150 Diamond Ring for Only $499"},{"type":"html","id":"ggma2sgV3cw_text","label":"ggma2sgV3cw_text","default":"<p><span style=\"font-size:18px;\"><strong>Rodney Noriega, CEO Rings.com</strong></span><br><span style=\"font-size:16px;\">Wed, December 11, 2024 at 12:05 pm PST &nbsp;2 min read</span></p>"},{"type":"html","id":"ggW6tp-bccR_text","label":"ggW6tp-bccR_text","default":"<p>Finding the perfect engagement ring shouldn't mean choosing between your dreams and your budget. That's why we're excited to offer this stunning diamond ring for <strong>75% off</strong>, so you can focus on what matters most.&nbsp;</p>"},{"type":"html","id":"ggs-02NarNU_text","label":"ggs-02NarNU_text","default":"<strong>Introducing the Founding Member Program, Only Available from Rings.com</strong>"},{"type":"html","id":"gg169nFF5qT_text","label":"gg169nFF5qT_text","default":"<p>When you become a Founding Member for <strong>$97</strong>, youll have access to a members-only deal on a breathtaking 1CT 14k gold diamond solitaire ring for <s>$2,150</s><strong> just $499</strong>.</p>"},{"type":"html","id":"ggy8dcgD9xQ_childItem_0","label":"ggy8dcgD9xQ_childItem_0","default":"<p><strong>1 Carat Lab-Grown Diamond Solitaire Ring:</strong> IGI-certified D-color, VVS2-clarity lab diamond in a 14k gold setting. Appraised value: $4,950. Your price: <strong>$499</strong> with membership.</p>"},{"type":"html","id":"ggy8dcgD9xQ_childItem_1","label":"ggy8dcgD9xQ_childItem_1","default":"<p><strong>12 months access to the Rings.com Insiders Club:</strong> Early access to new collections, exclusive discounts, personalized styling, and invitations to VIP events.</p>"},{"type":"html","id":"ggy8dcgD9xQ_childItem_2","label":"ggy8dcgD9xQ_childItem_2","default":"<p><strong>Founding Member Exclusive Gifts: </strong>Premium ring box and complimentary cleaning kit to keep your diamond sparkling for years to come.</p>"},{"type":"html","id":"ggMeOCAUVWE_text","label":"ggMeOCAUVWE_text","default":"<p>Get this one carat 14k gold diamond ring for only $499 with purchase of a Rings.com Founding Membership</p>"},{"type":"html","id":"ggKeTSdamKn_text","label":"ggKeTSdamKn_text","default":"<p>By now you may be asking... is it Real?</p>"},{"type":"html","id":"ggu3DD8JQbn_text","label":"ggu3DD8JQbn_text","default":"<strong>YES - A Master Gemologist Appraised This Ring at $4950</strong>"},{"type":"html","id":"ggoHjAxWR17_text","label":"ggoHjAxWR17_text","default":"<strong>Get an authentic 14k solid gold ring featuring a certified one-carat lab diamond - a stunning piece you'll be proud to own for a lifetime</strong>"},{"type":"html","id":"ggH7QxwfTZd_text","label":"ggH7QxwfTZd_text","default":"<p>Your ring has been carefully crafted by the finest jewelers, and we've taken every step to verify its authenticity.</p><p>&nbsp;</p><p>The one carat diamond comes with an IGI certificate and has been permanently laser-engraved with the certification number. More importantly, an independent Master Gemologist appraised the ring with a replacement value of <strong>$4,950</strong>.&nbsp;</p><p>&nbsp;</p><p>While we typically feature this ring at $2,150, available today when purchased together:</p><p>&nbsp;</p><p>&nbsp;- Founding Member access - <strong>$97</strong></p><p>&nbsp;- The 1CT Diamond Solitaire Ring - <strong>$499</strong></p><p>&nbsp;- Shipping, Elegant ring box, cleaning kit, and expert ring resizing - &nbsp;<strong>FREE FOR MEMBERS</strong></p><p><br>Total cost for your perfect proposal and one full year of Membership perks: $596</p><p>&nbsp;</p><p>That's a <strong>total savings of over $4,000</strong> for an expertly appraised ringbut only if you act fast.</p>"},{"type":"html","id":"ggoge4O9jQP_text","label":"ggoge4O9jQP_text","default":"<strong>Warning: Spaces Are Limited</strong>"},{"type":"html","id":"ggatbLnJTE7_text","label":"ggatbLnJTE7_text","default":"<p>There are only <strong>25 Founding Memberships</strong> available and once theyre gone, this page will disappear. After the initial 25 founding member spaces are filled, we'll open membership to the general public at the regular price of <strong>$349 per year</strong>.</p>"},{"type":"html","id":"ggitWRRVIHI_label","label":"ggitWRRVIHI_label","default":"<p>Click to Secure Your $97 Membership (Normally $349)</p>"},{"type":"html","id":"ggW3Ixp-O3f_text","label":"ggW3Ixp-O3f_text","default":"<p>Extra Bonuses for Available ONLY to the first 25 Founding Members</p>"},{"type":"html","id":"ggUMlkjlp4s_childItem_0","label":"ggUMlkjlp4s_childItem_0","default":"<p><span style=\"font-size:20px;\"><strong>BONUS #1: Lifetime Sizing &amp; Maintenance</strong></span></p><p><span style=\"font-size:18px;\">You get unlimited access to our white-glove sizing service. Just send your ring to us in a secure shipping kit, and our master jewelers will clean and resize it perfectly - as many times as you need. That's a &nbsp;<strong>$149 service</strong> that's <i><u>completely free</u></i> for Founding Members.</span></p>"},{"type":"html","id":"ggUMlkjlp4s_childItem_1","label":"ggUMlkjlp4s_childItem_1","default":"<p><span style=\"font-size:20px;\"><strong>BONUS #2: Diamond Trade-Up Program</strong></span><br><span style=\"font-size:18px;\">Want to upgrade to an even more spectacular diamond in the future? As a Founding Member, you can flip the script and turn your $499 1 Carat Diamond Solitaire ring into a <strong>$500 CREDIT</strong> toward a truly unique, one-of-a-kind custom designed engagement ring.&nbsp;</span></p>"},{"type":"html","id":"ggUMlkjlp4s_childItem_2","label":"ggUMlkjlp4s_childItem_2","default":"<p><span style=\"font-size:20px;\"><strong>BONUS #3: Private 1-on-1 Consultation</strong></span><br><span style=\"font-size:18px;\">Receive an exclusive <strong><u>30-minute private consultation</u></strong> with our expert diamond concierge who will guide you through the custom design process, help you maximize your budget, and ensure every detail of your ring tells your unique love story. This VIP design experience is typically reserved for our highest-tier clients, but it&#039;s yours <strong>FREE</strong> as a Founding Member.</span></p>"},{"type":"html","id":"ggS0dhi_Rpj_text","label":"ggS0dhi_Rpj_text","default":"Rings.com Founding Member Special Offer"},{"type":"html","id":"gg-d5hNdA-Q_text","label":"gg-d5hNdA-Q_text","default":"1 Carat, 14k Gold Lab Diamond Solitaire Ring - Just $499 with $97 membership"},{"type":"html","id":"ggqx1bGKwGg_childItem_0","label":"ggqx1bGKwGg_childItem_0","default":"<p>Exclusive pre-launch offer for Rings.com Founding Members</p>"},{"type":"html","id":"ggqx1bGKwGg_childItem_1","label":"ggqx1bGKwGg_childItem_1","default":"<p>Genuine <strong>1 Carat lab diamond</strong> in <strong>14k gold</strong></p>"},{"type":"html","id":"ggqx1bGKwGg_childItem_2","label":"ggqx1bGKwGg_childItem_2","default":"<p>Regular price $2150, now <strong>$499</strong> with membership</p>"},{"type":"html","id":"ggqx1bGKwGg_childItem_3","label":"ggqx1bGKwGg_childItem_3","default":"<p>Limited to just <strong><u>25 rings</u></strong> at this price</p>"},{"type":"html","id":"ggE-_Jx0T16_text","label":"ggE-_Jx0T16_text","default":"<strong>100% Money Back Guarantee</strong>"},{"type":"html","id":"ggcoTc1H6UW_label","label":"ggcoTc1H6UW_label","default":"<p>Get Instant Access to Your $499 Diamond Ring Offer</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
