

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-542460860103132019.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-542460860103132019.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-542460860103132019.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-542460860103132019.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-542460860103132019.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-542460860103132019.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-542460860103132019.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-542460860103132019.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-542460860103132019.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-542460860103132019.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-542460860103132019.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-542460860103132019.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-542460860103132019.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-542460860103132019.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-542460860103132019.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-542460860103132019.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-542460860103132019.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-542460860103132019.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-542460860103132019.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-542460860103132019.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-542460860103132019.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-542460860103132019.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-542460860103132019.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-542460860103132019.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-542460860103132019.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-542460860103132019.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-542460860103132019.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-542460860103132019.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-542460860103132019.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-542460860103132019.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-542460860103132019.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-542460860103132019.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-542460860103132019.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-542460860103132019.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-542460860103132019.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-542460860103132019.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-542460860103132019.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-542460860103132019.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-542460860103132019.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-542460860103132019.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-542460860103132019.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-542460860103132019.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-542460860103132019.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-542460860103132019.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-542460860103132019.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-542460860103132019.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-542460860103132019.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-542460860103132019.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-542460860103132019.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-542460860103132019.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-542460860103132019.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-542460860103132019.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-542460860103132019.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-542460860103132019.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-542460860103132019.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-542460860103132019.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-542460860103132019.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-542460860103132019.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-542460860103132019.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-542460860103132019.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-542460860103132019.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-542460860103132019.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-542460860103132019.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-542460860103132019.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-542460860103132019.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-542460860103132019.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-542460860103132019.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-542460860103132019.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-542460860103132019.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-542460860103132019.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-542460860103132019.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-542460860103132019.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-542460860103132019 .gp-relative{position:relative}.gps-542460860103132019 .gp-z-1{z-index:1}.gps-542460860103132019 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-542460860103132019 .gp-mb-0{margin-bottom:0}.gps-542460860103132019 .gp-flex{display:flex}.gps-542460860103132019 .gp-inline-flex{display:inline-flex}.gps-542460860103132019 .gp-grid{display:grid}.gps-542460860103132019 .gp-contents{display:contents}.gps-542460860103132019 .\!gp-hidden{display:none!important}.gps-542460860103132019 .gp-hidden{display:none}.gps-542460860103132019 .gp-h-full{height:100%}.gps-542460860103132019 .gp-w-full{width:100%}.gps-542460860103132019 .gp-max-w-full{max-width:100%}.gps-542460860103132019 .gp-shrink-0{flex-shrink:0}.gps-542460860103132019 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-542460860103132019 .gp-flex-col{flex-direction:column}.gps-542460860103132019 .gp-items-center{align-items:center}.gps-542460860103132019 .gp-justify-center{justify-content:center}.gps-542460860103132019 .gp-gap-y-0{row-gap:0}.gps-542460860103132019 .gp-overflow-hidden{overflow:hidden}.gps-542460860103132019 .gp-break-words{overflow-wrap:break-word}.gps-542460860103132019 .gp-rounded-none{border-radius:0}.gps-542460860103132019 .gp-text-center{text-align:center}.gps-542460860103132019 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-542460860103132019 .gp-no-underline{text-decoration-line:none}.gps-542460860103132019 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-542460860103132019 .gp-duration-200{transition-duration:.2s}.gps-542460860103132019 .gp-duration-300{transition-duration:.3s}.gps-542460860103132019 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-542460860103132019 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-542460860103132019 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-542460860103132019 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-542460860103132019 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-542460860103132019 .tablet\:\!gp-hidden{display:none!important}.gps-542460860103132019 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-542460860103132019 .mobile\:\!gp-hidden{display:none!important}.gps-542460860103132019 .mobile\:gp-hidden{display:none}}.gps-542460860103132019 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-542460860103132019 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-542460860103132019 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-542460860103132019 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-542460860103132019 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-542460860103132019 .\[\&_p\]\:gp-inline p{display:inline}.gps-542460860103132019 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-542460860103132019 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-542460860103132019 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gDbQmNbSX0" data-id="gDbQmNbSX0"
        style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pt:0px;--pl:20px;--pb:48px;--pr:20px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:20px;--pr-mobile:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDbQmNbSX0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g4okxEe6yq gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g_LmG01icZ" data-id="g_LmG01icZ"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:30px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_LmG01icZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gcyuOGXRef gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gk5ECILpPF" data-id="gk5ECILpPF"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--pl:0px;--pr:var(--g-s-2xl);--mb-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gk5ECILpPF gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gyjuETFT6Z gp-relative gp-flex gp-flex-col"
    >
      
  <gp-text data-id="gtQ5XZA6FI">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gtQ5XZA6FI "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:var(--g-s-l);--mb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:600;--ls:0px;--size:28px;--size-tablet:24px;--size-mobile:24px;--lh:120%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggtQ5XZA6FI_text }}</h3>
      </div>
    </div>
    </gp-text>
    <div
    
     data-id="gHBBE_bU59"
    role="presentation"
    class="gp-group/image gHBBE_bU59"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:40px;--mb-mobile:20px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_542333615069987699-c1cf58d0-45e1-454d-899c-e132a50be27c_768x.png" | file_url }}" />
      <source media="(max-width: 1023px)" srcset="{{ "gempages_542333615069987699-c1cf58d0-45e1-454d-899c-e132a50be27c_1024x.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_542333615069987699-c1cf58d0-45e1-454d-899c-e132a50be27c.png" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gHBBE_bU59">
        .gHBBE_bU59 {

}
.gHBBE_bU59 > figure > img {

}
      </style>
    
  <gp-text data-id="gCaxDJYhhF">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gCaxDJYhhF "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:var(--g-s-xl);--mb-mobile:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggCaxDJYhhF_text }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gCaxDJYhhF">
        .gCaxDJYhhF {

}
.gCaxDJYhhF p {

}
      </style>
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    
  >
    <style>
    .g0N2MQRXhB.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .g0N2MQRXhB:hover::before {
      
      
    }

    .g0N2MQRXhB:hover .gp-button-icon {
      color: undefined;
    }

     .g0N2MQRXhB .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .g0N2MQRXhB:hover .gp-button-price {
      color: undefined;
    }

    .g0N2MQRXhB .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .g0N2MQRXhB .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .g0N2MQRXhB:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="#" target="_blank" data-id="g0N2MQRXhB" aria-label="<p>Become a Founding Member</p>"
      
      data-state="idle"
      class="g0N2MQRXhB gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#07829F;--bg:#07829F;--radius:var(--g-radius-small);--shadow:none;--w:80%;--w-tablet:80%;--w-mobile:80%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:20px;--pb:20px;--c:var(--g-c-text-3, text-3);--size:23px;--size-tablet:20px;--size-mobile:20px;--ff:var(--g-font-body, body);--weight:600;--ls:0px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
    >
      
    <div
    class="gp-inline-flex gp-flex-row-reverse">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817609069166952">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M220.24,132.24l-72,72a6,6,0,0,1-8.48-8.48L201.51,134H40a6,6,0,0,1,0-12H201.51L139.76,60.24a6,6,0,0,1,8.48-8.48l72,72A6,6,0,0,1,220.24,132.24Z" /></svg></span>
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:23px;--size-tablet:20px;--size-mobile:20px"
      >
        {{ section.settings.gg0N2MQRXhB_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-g0N2MQRXhB">
        button.g0N2MQRXhB {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gyRIKcuq4F gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-542460860103132019 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/09c241-13/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=542460847687992324&sectionId=542460860103132019)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggtQ5XZA6FI_text","label":"ggtQ5XZA6FI_text","default":"Still on the fence?"},{"type":"html","id":"ggCaxDJYhhF_text","label":"ggCaxDJYhhF_text","default":"<p><span style=\"font-size:24px;\"><strong>Your Complete Satisfaction Is Our #1 Priority</strong></span></p><p>&nbsp;</p><p>We're so confident you'll be thrilled with your diamond ring and Founding Member experience that we back it with our ironclad <strong>30-day 100% Money Back Guarantee</strong>.&nbsp;</p><p>&nbsp;</p><p><span style=\"font-size:18px;\"><strong>Here's how it works</strong></span></p><p>When your ring arrives, take a full 30 days to examine it, try it on, and even have it independently appraised if you'd like. Show it to friends and family. Compare it to traditional jewelers.</p><p>&nbsp;</p><p>If you're not absolutely blown away by the quality, brilliance, and value of your ring - or if you're not 100% satisfied with any aspect of your Founding Member experience - simply return it in its original condition using our secure shipping kit. We'll promptly refund your entire purchase, including both your membership fee and ring payment. No restocking fees, no hidden charges, and absolutely no questions asked.</p><p>&nbsp;</p><p>Why such a generous guarantee? Because we're building something revolutionary here, and your complete confidence and satisfaction mean everything to us. We want you to feel as excited about joining this movement as we are about having you as a Founding Member.</p><p>&nbsp;</p><p>Remember: You have absolutely nothing to lose and a stunning diamond ring to gain. The only risk is missing out on this limited-time opportunity.</p>"},{"type":"html","id":"gg0N2MQRXhB_label","label":"gg0N2MQRXhB_label","default":"<p>Become a Founding Member</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
