

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-542460860254127350.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-542460860254127350.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-542460860254127350.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-542460860254127350.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-542460860254127350.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-542460860254127350.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-542460860254127350.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-542460860254127350.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-542460860254127350.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-542460860254127350.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-542460860254127350.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-542460860254127350.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-542460860254127350.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-542460860254127350.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-542460860254127350.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-542460860254127350.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-542460860254127350.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-542460860254127350.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-542460860254127350.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-542460860254127350.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-542460860254127350.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-542460860254127350.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-542460860254127350.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-542460860254127350.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-542460860254127350.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-542460860254127350.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-542460860254127350.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-542460860254127350.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-542460860254127350.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-542460860254127350.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-542460860254127350.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-542460860254127350.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-542460860254127350.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-542460860254127350.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-542460860254127350.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-542460860254127350.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-542460860254127350.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-542460860254127350.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-542460860254127350.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-542460860254127350.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-542460860254127350.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-542460860254127350.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-542460860254127350.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-542460860254127350.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-542460860254127350.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-542460860254127350.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-542460860254127350.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-542460860254127350.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-542460860254127350.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-542460860254127350.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-542460860254127350.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-542460860254127350.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-542460860254127350.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-542460860254127350.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-542460860254127350.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-542460860254127350.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-542460860254127350.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-542460860254127350.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-542460860254127350.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-542460860254127350.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-542460860254127350.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-542460860254127350.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-542460860254127350.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-542460860254127350.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-542460860254127350.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-542460860254127350.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-542460860254127350.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-542460860254127350.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-542460860254127350.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-542460860254127350.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-542460860254127350.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-542460860254127350.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-542460860254127350.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-542460860254127350.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-542460860254127350.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-542460860254127350.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-542460860254127350.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-542460860254127350.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-542460860254127350.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-542460860254127350.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-542460860254127350.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-542460860254127350.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-542460860254127350.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-542460860254127350.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-542460860254127350.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-542460860254127350.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-542460860254127350.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-542460860254127350.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-542460860254127350 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-542460860254127350 .gp-relative{position:relative}.gps-542460860254127350 .gp-z-1{z-index:1}.gps-542460860254127350 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-542460860254127350 .gp-mb-0{margin-bottom:0}.gps-542460860254127350 .gp-flex{display:flex}.gps-542460860254127350 .gp-inline-flex{display:inline-flex}.gps-542460860254127350 .gp-grid{display:grid}.gps-542460860254127350 .gp-contents{display:contents}.gps-542460860254127350 .\!gp-hidden{display:none!important}.gps-542460860254127350 .gp-hidden{display:none}.gps-542460860254127350 .gp-h-full{height:100%}.gps-542460860254127350 .gp-w-full{width:100%}.gps-542460860254127350 .gp-max-w-full{max-width:100%}.gps-542460860254127350 .gp-shrink-0{flex-shrink:0}.gps-542460860254127350 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-542460860254127350 .gp-flex-col{flex-direction:column}.gps-542460860254127350 .gp-items-center{align-items:center}.gps-542460860254127350 .gp-justify-center{justify-content:center}.gps-542460860254127350 .gp-gap-y-0{row-gap:0}.gps-542460860254127350 .gp-overflow-hidden{overflow:hidden}.gps-542460860254127350 .gp-break-words{overflow-wrap:break-word}.gps-542460860254127350 .gp-rounded-none{border-radius:0}.gps-542460860254127350 .gp-text-left{text-align:left}.gps-542460860254127350 .gp-text-center{text-align:center}.gps-542460860254127350 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-542460860254127350 .gp-no-underline{text-decoration-line:none}.gps-542460860254127350 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-542460860254127350 .gp-duration-200{transition-duration:.2s}.gps-542460860254127350 .gp-duration-300{transition-duration:.3s}.gps-542460860254127350 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-542460860254127350 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-542460860254127350 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-542460860254127350 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-542460860254127350 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-542460860254127350 .tablet\:\!gp-hidden{display:none!important}.gps-542460860254127350 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-542460860254127350 .mobile\:\!gp-hidden{display:none!important}.gps-542460860254127350 .mobile\:gp-hidden{display:none}}.gps-542460860254127350 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-542460860254127350 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-542460860254127350 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-542460860254127350 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-542460860254127350 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-542460860254127350 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-542460860254127350 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-542460860254127350 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-542460860254127350 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-542460860254127350 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-542460860254127350 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-542460860254127350 .\[\&_p\]\:gp-inline p{display:inline}.gps-542460860254127350 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-542460860254127350 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-542460860254127350 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="g4AE6Hd9kd" data-id="g4AE6Hd9kd"
        style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--pt:0px;--pl:20px;--pb:var(--g-s-3xl);--pr:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4AE6Hd9kd gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glQb0avss0 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gUdNSkJNv-" data-id="gUdNSkJNv-"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pr:0px;--pr-mobile:0px;--cg:30px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gUdNSkJNv- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guAVc-v6BM gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gV9OMp2NQb" data-id="gV9OMp2NQb"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:48px;--mr:auto;--pl:0px;--pb:0px;--pr:var(--g-s-2xl);--mb-mobile:var(--g-s-3xl);--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:var(--g-s-3xl);--mr-tablet:auto;--pl-tablet:0px;--pr-tablet:var(--g-s-l);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gV9OMp2NQb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gXXp8ZqhNw gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gMH0bE52rR">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gMH0bE52rR "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:var(--g-s-xl);--mb-mobile:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:600;--ls:0px;--size:33px;--size-tablet:28px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggMH0bE52rR_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g3Lv2LntLX">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g3Lv2LntLX "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:var(--g-s-xl);--mb-mobile:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg3Lv2LntLX_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g3Lv2LntLX">
        .g3Lv2LntLX {

}
.g3Lv2LntLX p {

}
      </style>
    <div gp-el-wrapper  class="gjxlRcz1zh ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="gjxlRcz1zh"
      data-id="gjxlRcz1zh"
      gp-data='{"position":{"desktop":"baseline","mobile":"baseline","tablet":"baseline"},"iconWidth":{"desktop":26,"mobile":16,"tablet":16}}'
       style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:20px;--pl:20px;--mb-mobile:20px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:10px;--rg-mobile:16px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gjxlRcz1zh"
            style="--cg:3px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#242424;--w:100%;--h:100%;--size-desktop:26px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817565586358632">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224.15,179.17l-46.82-46.82,37.92-13.51c.26-.09.51-.19.76-.3a20,20,0,0,0-1.76-37.27L54.16,29A20,20,0,0,0,29,54.16L81.27,214.24A20,20,0,0,0,118.54,216c.11-.25.21-.5.3-.76l13.51-37.92,46.83,46.82a20,20,0,0,0,28.28,0l16.69-16.68A20,20,0,0,0,224.15,179.17Zm-30.83,25.17-48.48-48.48A20,20,0,0,0,130.7,150a20.47,20.47,0,0,0-3.73.35A20,20,0,0,0,112.35,162c-.11.25-.2.5-.3.76L100.4,195.5,54.29,54.29,195.5,100.4l-32.71,11.65c-.25.09-.51.19-.76.3a20,20,0,0,0-6.16,32.48h0l48.48,48.48ZM84,16V12a12,12,0,0,1,24,0v4a12,12,0,0,1-24,0ZM12,108a12,12,0,0,1,0-24h4a12,12,0,0,1,0,24ZM120.62,24.21l4-12a12,12,0,0,1,22.77,7.58l-4,12a12,12,0,0,1-22.77-7.58Zm-81.23,104a12,12,0,0,1-7.59,15.17l-12,4a12,12,0,1,1-7.59-22.76l12-4A12,12,0,0,1,39.39,128.21Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:700;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:100%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424">
                {{ section.settings.ggjxlRcz1zh_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gjxlRcz1zh"
            style="--cg:3px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
            data-index="1"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#242424;--w:100%;--h:100%;--size-desktop:26px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817591475831144">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M233.21,56.31A12,12,0,0,0,224,52H66L60.53,21.85A12,12,0,0,0,48.73,12H24a12,12,0,0,0,0,24H38.71L63.62,173a28,28,0,0,0,4.07,10.21A32,32,0,1,0,123,196h34a32,32,0,1,0,31-24H91.17a4,4,0,0,1-3.93-3.28L84.92,156H196.1a28,28,0,0,0,27.55-23l12.16-66.86A12,12,0,0,0,233.21,56.31ZM100,204a8,8,0,1,1-8-8A8,8,0,0,1,100,204Zm88,8a8,8,0,1,1,8-8A8,8,0,0,1,188,212Zm12-83.28A4,4,0,0,1,196.1,132H80.56L70.38,76H209.62Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:700;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:100%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424">
                {{ section.settings.ggjxlRcz1zh_childItem_1 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gjxlRcz1zh"
            style="--cg:3px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
            data-index="2"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#242424;--w:100%;--h:100%;--size-desktop:26px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817569157808488">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,44H32A12,12,0,0,0,20,56V192a20,20,0,0,0,20,20H216a20,20,0,0,0,20-20V56A12,12,0,0,0,224,44ZM193.15,68,128,127.72,62.85,68ZM44,188V83.28l75.89,69.57a12,12,0,0,0,16.22,0L212,83.28V188Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:700;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:100%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424">
                {{ section.settings.ggjxlRcz1zh_childItem_2 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gjxlRcz1zh"
            style="--cg:3px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
            data-index="3"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#242424;--w:100%;--h:100%;--size-desktop:26px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817595010384232">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M249,96.1l-56-64a12,12,0,0,0-9-4.1H72a12,12,0,0,0-9,4.1L7,96.1a12,12,0,0,0,.26,16.09l112,120a12,12,0,0,0,17.54,0l112-120A12,12,0,0,0,249,96.1ZM213.55,92H182L152,52h26.55ZM71.88,116l21.19,53L43.61,116Zm86.4,0L128,191.69,97.72,116ZM104,92l24-32,24,32Zm80.12,24h28.27l-49.46,53ZM77.45,52H104L74,92H42.45Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:700;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:100%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424">
                {{ section.settings.ggjxlRcz1zh_childItem_3 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gjxlRcz1zh"
            style="--cg:3px;--ai:baseline;--ai-tablet:baseline;--ai-mobile:baseline"
            data-index="4"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#242424;--w:100%;--h:100%;--size-desktop:26px;--size-tablet:16px;--size-mobile:16px"
              >
               <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817591473799528">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228.75,100.05c-3.52-3.67-7.15-7.46-8.34-10.33-1.06-2.56-1.14-7.83-1.21-12.47-.15-10-.34-22.44-9.18-31.27s-21.27-9-31.27-9.18c-4.64-.07-9.91-.15-12.47-1.21-2.87-1.19-6.66-4.82-10.33-8.34C148.87,20.46,140.05,12,128,12s-20.87,8.46-27.95,15.25c-3.67,3.52-7.46,7.15-10.33,8.34-2.56,1.06-7.83,1.14-12.47,1.21C67.25,37,54.81,37.14,46,46S37,67.25,36.8,77.25c-.07,4.64-.15,9.91-1.21,12.47-1.19,2.87-4.82,6.66-8.34,10.33C20.46,107.13,12,116,12,128S20.46,148.87,27.25,156c3.52,3.67,7.15,7.46,8.34,10.33,1.06,2.56,1.14,7.83,1.21,12.47.15,10,.34,22.44,9.18,31.27s21.27,9,31.27,9.18c4.64.07,9.91.15,12.47,1.21,2.87,1.19,6.66,4.82,10.33,8.34C107.13,235.54,116,244,128,244s20.87-8.46,27.95-15.25c3.67-3.52,7.46-7.15,10.33-8.34,2.56-1.06,7.83-1.14,12.47-1.21,10-.15,22.44-.34,31.27-9.18s9-21.27,9.18-31.27c.07-4.64.15-9.91,1.21-12.47,1.19-2.87,4.82-6.66,8.34-10.33C235.54,148.87,244,140.05,244,128S235.54,107.13,228.75,100.05Zm-17.32,39.29c-4.82,5-10.28,10.72-13.19,17.76-2.82,6.8-2.93,14.16-3,21.29-.08,5.36-.19,12.71-2.15,14.66s-9.3,2.07-14.66,2.15c-7.13.11-14.49.22-21.29,3-7,2.91-12.73,8.37-17.76,13.19C135.78,214.84,130.4,220,128,220s-7.78-5.16-11.34-8.57c-5-4.82-10.72-10.28-17.76-13.19-6.8-2.82-14.16-2.93-21.29-3-5.36-.08-12.71-.19-14.66-2.15s-2.07-9.3-2.15-14.66c-.11-7.13-.22-14.49-3-21.29-2.91-7-8.37-12.73-13.19-17.76C41.16,135.78,36,130.4,36,128s5.16-7.78,8.57-11.34c4.82-5,10.28-10.72,13.19-17.76,2.82-6.8,2.93-14.16,3-21.29C60.88,72.25,61,64.9,63,63s9.3-2.07,14.66-2.15c7.13-.11,14.49-.22,21.29-3,7-2.91,12.73-8.37,17.76-13.19C120.22,41.16,125.6,36,128,36s7.78,5.16,11.34,8.57c5,4.82,10.72,10.28,17.76,13.19,6.8,2.82,14.16,2.93,21.29,3,5.36.08,12.71.19,14.66,2.15s2.07,9.3,2.15,14.66c.11,7.13.22,14.49,3,21.29,2.91,7,8.37,12.73,13.19,17.76,3.41,3.56,8.57,8.94,8.57,11.34S214.84,135.78,211.43,139.34ZM176.49,95.51a12,12,0,0,1,0,17l-56,56a12,12,0,0,1-17,0l-24-24a12,12,0,1,1,17-17L112,143l47.51-47.52A12,12,0,0,1,176.49,95.51Z" /></svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:700;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:100%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424">
                {{ section.settings.ggjxlRcz1zh_childItem_4 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gaykCklNsL" data-id="gaykCklNsL"
        style="--mb:30px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gaykCklNsL gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g8pClcd4gd gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHZ0T3hGuy">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gHZ0T3hGuy "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggHZ0T3hGuy_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:20px;--ta:center"
    
  >
    <style>
    .gxoK5gPSMJ.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gxoK5gPSMJ:hover::before {
      
      
    }

    .gxoK5gPSMJ:hover .gp-button-icon {
      color: undefined;
    }

     .gxoK5gPSMJ .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gxoK5gPSMJ:hover .gp-button-price {
      color: undefined;
    }

    .gxoK5gPSMJ .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gxoK5gPSMJ .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gxoK5gPSMJ:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="https://www.rings.com/cart/50741292794129:1" target="_blank" data-id="gxoK5gPSMJ" aria-label="<p>Become a Founding Member $97</p>"
      
      data-state="idle"
      class="gxoK5gPSMJ gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#07829F;--bg:#07829F;--radius:var(--g-radius-small);--shadow:none;--w:80%;--w-tablet:80%;--w-mobile:80%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:20px;--pb:20px;--c:var(--g-c-text-3, text-3);--size:23px;--size-tablet:20px;--size-mobile:20px;--ff:var(--g-font-body, body);--weight:600;--ls:0px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
    >
      
    <div
    class="gp-inline-flex gp-flex-row-reverse">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817609069166952">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M220.24,132.24l-72,72a6,6,0,0,1-8.48-8.48L201.51,134H40a6,6,0,0,1,0-12H201.51L139.76,60.24a6,6,0,0,1,8.48-8.48l72,72A6,6,0,0,1,220.24,132.24Z" /></svg></span>
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:23px;--size-tablet:20px;--size-mobile:20px"
      >
        {{ section.settings.ggxoK5gPSMJ_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gxoK5gPSMJ">
        button.gxoK5gPSMJ {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g59_xrjpAo">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g59_xrjpAo "
        style="--ta:left;--mb:40px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg59_xrjpAo_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gVxU5lGstG">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gVxU5lGstG "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:7px;--mb-mobile:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:600;--ls:0px;--size:33px;--size-tablet:28px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggVxU5lGstG_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gIDdiWmjza">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gIDdiWmjza "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--mb-mobile:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggIDdiWmjza_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gIDdiWmjza">
        .gIDdiWmjza {

}
.gIDdiWmjza p {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gt1R1zyDR5" data-id="gt1R1zyDR5"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:var(--g-s-3xl);--mr:auto;--pl:0px;--pb:0px;--pr:var(--g-s-2xl);--mb-mobile:var(--g-s-3xl);--mr-mobile:auto;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:var(--g-s-3xl);--mr-tablet:auto;--pl-tablet:0px;--pr-tablet:var(--g-s-l);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gt1R1zyDR5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gyIbs5F5QF gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gqXA2F5TRR" data-id="gqXA2F5TRR"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqXA2F5TRR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gnc2OKSn3X gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gyr06pFXeR"
    role="presentation"
    class="gp-group/image gyr06pFXeR"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_542333615069987699-bcab8acc-b08a-448c-bd58-9b71197029ea_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjEyMDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTgwMC0xMjAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI4MDAiIGhlaWdodD0iMTIwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9IjEyMDAiIGZpbGw9InVybCgjZy04MDAtMTIwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTgwMCIgdG89IjgwMCIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_542333615069987699-bcab8acc-b08a-448c-bd58-9b71197029ea_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjEyMDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTgwMC0xMjAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI4MDAiIGhlaWdodD0iMTIwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9IjEyMDAiIGZpbGw9InVybCgjZy04MDAtMTIwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTgwMCIgdG89IjgwMCIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjEyMDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTgwMC0xMjAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI4MDAiIGhlaWdodD0iMTIwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9IjEyMDAiIGZpbGw9InVybCgjZy04MDAtMTIwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTgwMCIgdG89IjgwMCIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg=="
        data-src="{{ "gempages_542333615069987699-bcab8acc-b08a-448c-bd58-9b71197029ea.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g8qF5sFQQN gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="glhPv_K-TE"
    role="presentation"
    class="gp-group/image glhPv_K-TE"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_542333615069987699-08a281cd-e043-4f53-a357-5dcf54f518b0_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjEyMDEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTgwMC0xMjAxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI4MDAiIGhlaWdodD0iMTIwMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9IjEyMDEiIGZpbGw9InVybCgjZy04MDAtMTIwMSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTgwMCIgdG89IjgwMCIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_542333615069987699-08a281cd-e043-4f53-a357-5dcf54f518b0_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjEyMDEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTgwMC0xMjAxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI4MDAiIGhlaWdodD0iMTIwMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9IjEyMDEiIGZpbGw9InVybCgjZy04MDAtMTIwMSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTgwMCIgdG89IjgwMCIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjEyMDEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTgwMC0xMjAxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI4MDAiIGhlaWdodD0iMTIwMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9IjEyMDEiIGZpbGw9InVybCgjZy04MDAtMTIwMSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTgwMCIgdG89IjgwMCIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg=="
        data-src="{{ "gempages_542333615069987699-08a281cd-e043-4f53-a357-5dcf54f518b0.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:50px;--ta:center"
    
  >
    <style>
    .gwNoPogko8.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gwNoPogko8:hover::before {
      
      
    }

    .gwNoPogko8:hover .gp-button-icon {
      color: undefined;
    }

     .gwNoPogko8 .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gwNoPogko8:hover .gp-button-price {
      color: undefined;
    }

    .gwNoPogko8 .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gwNoPogko8 .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gwNoPogko8:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="https://www.rings.com/cart/50741292794129:1#" target="_blank" data-id="gwNoPogko8" aria-label="<p>Become a Founding Member $97</p>"
      
      data-state="idle"
      class="gwNoPogko8 gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#07829F;--bg:#07829F;--radius:var(--g-radius-small);--shadow:none;--w:80%;--w-tablet:80%;--w-mobile:80%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:20px;--pb:20px;--c:var(--g-c-text-3, text-3);--size:23px;--size-tablet:20px;--size-mobile:20px;--ff:var(--g-font-body, body);--weight:600;--ls:0px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
    >
      
    <div
    class="gp-inline-flex gp-flex-row-reverse">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817609069166952">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M220.24,132.24l-72,72a6,6,0,0,1-8.48-8.48L201.51,134H40a6,6,0,0,1,0-12H201.51L139.76,60.24a6,6,0,0,1,8.48-8.48l72,72A6,6,0,0,1,220.24,132.24Z" /></svg></span>
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:23px;--size-tablet:20px;--size-mobile:20px"
      >
        {{ section.settings.ggwNoPogko8_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gwNoPogko8">
        button.gwNoPogko8 {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gtQ5XZA6FI">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gtQ5XZA6FI "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:20px;--mb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:600;--ls:0px;--size:28px;--size-tablet:24px;--size-mobile:24px;--lh:120%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggtQ5XZA6FI_text | replace: '$locationOrigin', locationOrigin }}</h3>
      </div>
    </div>
    </gp-text>
    <div
    
     data-id="gHBBE_bU59"
    role="presentation"
    class="gp-group/image gHBBE_bU59"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:40px;--mb-mobile:20px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" srcset="{{ "gempages_542333615069987699-5c362ea9-71f1-405e-893e-ffa08bc30e23_768x.png" | file_url }}" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_542333615069987699-5c362ea9-71f1-405e-893e-ffa08bc30e23_1024x.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_542333615069987699-5c362ea9-71f1-405e-893e-ffa08bc30e23.png" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gHBBE_bU59">
        .gHBBE_bU59 {

}
.gHBBE_bU59 > figure > img {

}
      </style>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gO_XKi8C6I" data-id="gO_XKi8C6I"
        style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#CCCCCC;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--op-mobile:100%;--pos:sticky;--pos-mobile:static;--right:0px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:var(--g-s-3xl);--pt:var(--g-s-xl);--pl:var(--g-s-xl);--pb:var(--g-s-xl);--pr:var(--g-s-xl);--top:32px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FAFAFA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gO_XKi8C6I gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="g0eS07lHVe gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gV8I7gIXwX" data-id="gV8I7gIXwX"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mr:auto;--pl:0px;--pb:0px;--pr:var(--g-s-2xl);--mr-mobile:auto;--pl-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--mr-tablet:auto;--pl-tablet:0px;--pr-tablet:var(--g-s-l);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gV8I7gIXwX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guNiIBWkw1 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gCaxDJYhhF">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gCaxDJYhhF "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:var(--g-s-xl);--mb-mobile:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggCaxDJYhhF_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gCaxDJYhhF">
        .gCaxDJYhhF {

}
.gCaxDJYhhF p {

}
      </style>
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    
  >
    <style>
    .g0N2MQRXhB.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .g0N2MQRXhB:hover::before {
      
      
    }

    .g0N2MQRXhB:hover .gp-button-icon {
      color: undefined;
    }

     .g0N2MQRXhB .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .g0N2MQRXhB:hover .gp-button-price {
      color: undefined;
    }

    .g0N2MQRXhB .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .g0N2MQRXhB .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .g0N2MQRXhB:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="https://www.rings.com/cart/50741292794129:1" target="_blank" data-id="g0N2MQRXhB" aria-label="<p>Become a Founding Member $97</p>"
      
      data-state="idle"
      class="g0N2MQRXhB gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#07829F;--bg:#07829F;--radius:var(--g-radius-small);--shadow:none;--w:80%;--w-tablet:80%;--w-mobile:80%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:20px;--pb:20px;--c:var(--g-c-text-3, text-3);--size:23px;--size-tablet:20px;--size-mobile:20px;--ff:var(--g-font-body, body);--weight:600;--ls:0px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
    >
      
    <div
    class="gp-inline-flex gp-flex-row-reverse">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817609069166952">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M220.24,132.24l-72,72a6,6,0,0,1-8.48-8.48L201.51,134H40a6,6,0,0,1,0-12H201.51L139.76,60.24a6,6,0,0,1,8.48-8.48l72,72A6,6,0,0,1,220.24,132.24Z" /></svg></span>
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:23px;--size-tablet:20px;--size-mobile:20px"
      >
        {{ section.settings.gg0N2MQRXhB_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-g0N2MQRXhB">
        button.g0N2MQRXhB {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gz9L0QuqTG gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-542460860254127350 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/09c241-13/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=542460847687992324&sectionId=542460860254127350)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggMH0bE52rR_text","label":"ggMH0bE52rR_text","default":"Ready to join the jewelry revolution?"},{"type":"html","id":"gg3Lv2LntLX_text","label":"gg3Lv2LntLX_text","default":"<p>Here's how to secure your spot:</p>"},{"type":"html","id":"ggjxlRcz1zh_childItem_0","label":"ggjxlRcz1zh_childItem_0","default":"<p><strong>Click the \"Become a Founding Member\" button below</strong></p>"},{"type":"html","id":"ggjxlRcz1zh_childItem_1","label":"ggjxlRcz1zh_childItem_1","default":"<p><strong>Complete your secure payment of $97</strong></p>"},{"type":"html","id":"ggjxlRcz1zh_childItem_2","label":"ggjxlRcz1zh_childItem_2","default":"<p><strong>Receive your exclusive member access code within 24 hours</strong></p>"},{"type":"html","id":"ggjxlRcz1zh_childItem_3","label":"ggjxlRcz1zh_childItem_3","default":"<p><strong>Select your dream 1CT Diamond Solitaire Ring and pay only $499</strong></p>"},{"type":"html","id":"ggjxlRcz1zh_childItem_4","label":"ggjxlRcz1zh_childItem_4","default":"<p><strong>Join the ranks of smart, savvy jewelry buyers who are changing the game</strong></p>"},{"type":"html","id":"ggHZ0T3hGuy_text","label":"ggHZ0T3hGuy_text","default":"<p> Click below now to secure your Founding Membership and claim your stunning diamond ring. </p>"},{"type":"html","id":"ggxoK5gPSMJ_label","label":"ggxoK5gPSMJ_label","default":"<p>Become a Founding Member $97</p>"},{"type":"html","id":"gg59_xrjpAo_text","label":"gg59_xrjpAo_text","default":"<p><span style=\"font-size:18px;\"> <strong>WARNING</strong>: Once all 25 Founding Member spots are filled, this offer disappears forever. Don't let someone else claim your spot.</span></p>"},{"type":"html","id":"ggVxU5lGstG_text","label":"ggVxU5lGstG_text","default":"That sounds great, but what's it really worth?"},{"type":"html","id":"ggIDdiWmjza_text","label":"ggIDdiWmjza_text","default":"<p>Your diamond ring features a stunning one-carat brilliant round cut lab diamond. We painstakingly hand-selected these stones to ensure each and every one meets our exacting standards - the very best D color grade (the highest possible) and VVS2 clarity (virtually flawless under magnification).&nbsp;</p><p>&nbsp;</p><p>But you don't have to take our word for it. Each diamond comes with an IGI certificate from the International Gemological Institute, the world's leading authority in lab-grown diamond certification. The certification number is laser-engraved right on your diamond for absolute authenticity.&nbsp;</p><p>&nbsp;</p><p><span style=\"font-size:18px;\"><strong>Okay, the diamond is real, but what about the ring?</strong></span><br>To double down on our promise of offering unbelievable value to our first 25 Rings.com Insider Members, we had our 1-carat solitaire rings professionally evaluated by an independent jewelry appraiser..</p><p>&nbsp;</p><p><span style=\"font-size:18px;\"><strong> The certified appraised value: </strong></span><span style=\"font-size:20px;\"><strong>$4,950</strong></span><span style=\"font-size:18px;\"><strong> </strong></span></p><p>&nbsp;</p><p>While our regular price of $2,150 already represents significant savings, when you join as a Founding Member for just <span style=\"font-size:18px;\"><strong>$97</strong></span>, you'll unlock the opportunity to purchase this ring for just <span style=\"font-size:18px;\"><strong>$499</strong></span> - that's a savings of <span style=\"font-size:18px;\"><strong><u>over $1,650 off</u></strong></span> our regular price, and more than <span style=\"font-size:18px;\"><strong>$4,450 off</strong></span> the appraised value.</p>"},{"type":"html","id":"ggwNoPogko8_label","label":"ggwNoPogko8_label","default":"<p>Become a Founding Member $97</p>"},{"type":"html","id":"ggtQ5XZA6FI_text","label":"ggtQ5XZA6FI_text","default":"Still on the fence?"},{"type":"html","id":"ggCaxDJYhhF_text","label":"ggCaxDJYhhF_text","default":"<p><span style=\"font-size:24px;\"><strong>Your Complete Satisfaction Is Our #1 Priority</strong></span></p><p>&nbsp;</p><p>We're so confident you'll be thrilled with your diamond ring and Founding Member experience that we back it with our ironclad <strong>30-day 100% Money Back Guarantee</strong>.&nbsp;</p><p>&nbsp;</p><p><span style=\"font-size:18px;\"><strong>Here's how it works</strong></span></p><p>When your ring arrives, take a full 30 days to examine it, try it on, and even have it independently appraised if you'd like. Show it to friends and family. Compare it to traditional jewelers.</p><p>&nbsp;</p><p>If you're not absolutely blown away by the quality, brilliance, and value of your ring - or if you're not 100% satisfied with any aspect of your Founding Member experience - simply return it in its original condition using our secure shipping kit. We'll promptly refund your entire purchase, including both your membership fee and ring payment. No restocking fees, no hidden charges, and absolutely no questions asked.</p><p>&nbsp;</p><p>Why such a generous guarantee? Because we're building something revolutionary here, and your complete confidence and satisfaction mean everything to us. We want you to feel as excited about joining this movement as we are about having you as a Founding Member.</p><p>&nbsp;</p><p>Remember: You have absolutely nothing to lose and a stunning diamond ring to gain. The only risk is missing out on this limited-time opportunity.</p>"},{"type":"html","id":"gg0N2MQRXhB_label","label":"gg0N2MQRXhB_label","default":"<p>Become a Founding Member $97</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
