

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-553123447379592320.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-553123447379592320.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-553123447379592320.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-553123447379592320.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-553123447379592320.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-553123447379592320.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-553123447379592320.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-553123447379592320.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-553123447379592320.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-553123447379592320.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-553123447379592320.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-553123447379592320.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-553123447379592320.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-553123447379592320.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-553123447379592320.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-553123447379592320.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-553123447379592320.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-553123447379592320.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-553123447379592320.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-553123447379592320.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-553123447379592320.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-553123447379592320.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-553123447379592320.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-553123447379592320.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-553123447379592320.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-553123447379592320.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-553123447379592320.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-553123447379592320.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-553123447379592320.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-553123447379592320.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-553123447379592320.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-553123447379592320.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-553123447379592320.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-553123447379592320.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-553123447379592320.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-553123447379592320.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-553123447379592320.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-553123447379592320.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-553123447379592320.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-553123447379592320.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-553123447379592320.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-553123447379592320.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-553123447379592320.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-553123447379592320.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-553123447379592320.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-553123447379592320 .focus\:\!gp-shadow-none,.gps-553123447379592320 .hover\:\!gp-shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-553123447379592320 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-553123447379592320 .\!gp-g-s-medium{padding:8px 24px!important}.gps-553123447379592320 .gp-fixed{position:fixed}.gps-553123447379592320 .gp-relative{position:relative}.gps-553123447379592320 .gp-top-\[27px\]{top:27px}.gps-553123447379592320 .gp-z-1{z-index:1}.gps-553123447379592320 .gp-z-100{z-index:100}.gps-553123447379592320 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-553123447379592320 .gp-mb-0{margin-bottom:0}.gps-553123447379592320 .gp-flex{display:flex}.gps-553123447379592320 .gp-inline-flex{display:inline-flex}.gps-553123447379592320 .gp-grid{display:grid}.gps-553123447379592320 .\!gp-hidden{display:none!important}.gps-553123447379592320 .gp-hidden{display:none}.gps-553123447379592320 .\!gp-h-auto{height:auto!important}.gps-553123447379592320 .gp-h-full{height:100%}.gps-553123447379592320 .gp-max-w-full{max-width:100%}.gps-553123447379592320 .gp-flex-col{flex-direction:column}.gps-553123447379592320 .gp-items-center{align-items:center}.gps-553123447379592320 .gp-justify-center{justify-content:center}.gps-553123447379592320 .gp-gap-y-0{row-gap:0}.gps-553123447379592320 .gp-overflow-hidden{overflow:hidden}.gps-553123447379592320 .gp-break-words{overflow-wrap:break-word}.gps-553123447379592320 .gp-rounded{border-radius:4px}.gps-553123447379592320 .gp-rounded-none{border-radius:0}.gps-553123447379592320 .\!gp-bg-none{background-image:none!important}.gps-553123447379592320 .gp-p-\[16px\]{padding:16px}.gps-553123447379592320 .gp-text-\[14px\]{font-size:14px}.gps-553123447379592320 .gp-leading-normal{line-height:1.5}.gps-553123447379592320 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-553123447379592320 .gp-no-underline{text-decoration-line:none}.gps-553123447379592320 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-553123447379592320 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-553123447379592320 .gp-duration-200{transition-duration:.2s}.gps-553123447379592320 .gp-duration-300{transition-duration:.3s}.gps-553123447379592320 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-553123447379592320 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-553123447379592320 .hover\:\!gp-shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-553123447379592320 .focus\:\!gp-shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-553123447379592320 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-553123447379592320 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-553123447379592320 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-553123447379592320 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-553123447379592320 .tablet\:\!gp-hidden{display:none!important}.gps-553123447379592320 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-553123447379592320 .mobile\:\!gp-hidden{display:none!important}.gps-553123447379592320 .mobile\:gp-hidden{display:none}}.gps-553123447379592320 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-553123447379592320 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="g6PMAHb6g6" data-id="g6PMAHb6g6"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pl:15px;--pb:var(--g-s-l);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F2F1EA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6PMAHb6g6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_DRcm_1ww gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--pt:var(--g-s-xl);--pl:var(--g-s-l);--pb:var(--g-s-xl);--pr:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%" class="gmou9o_kLB ">
      
    <gp-form
      id="gmou9o_kLB"
      data-id="gmou9o_kLB"
      
      data-submit-action='stay-on-page'
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-gmou9o_kLB"
        href="" target=""
      >
      </a>
      {% form 'customer', class: 'gp-form-gmou9o_kLB ', id: 'contact_form_gmou9o_kLB' %}
        {% if form.errors %}
          <div
            id="gp-form-error-gmou9o_kLB"
            class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            {{ section.settings.ggmou9o_kLB_errorMessage }}
          </div>
        {% endif %}
        <div popover id="my-popover-gmou9o_kLB">
        <style>
            #my-popover-gmou9o_kLB::backdrop {
              width: fit-content;
              height: fit-content;
            }
        </style>
        <div
          id="gp-form-success-gmou9o_kLB"
          class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          {{ section.settings.ggmou9o_kLB_successMessage }}
        </div></div>
        
       
      
    <div
      enableLazyloadImage="true" parentTag="Newsletter" id="ge8lEqiBg7" data-id="ge8lEqiBg7"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:0px;--cg-mobile:0px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ge8lEqiBg7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gRnhkjSaa4 gp-relative gp-flex gp-flex-col"
    >
      
    <div
    data-id="gWMYVtpdRd"
      class="gWMYVtpdRd"
      style="--d:block;--d-tablet:block;--d-mobile:block;--op:100%;--ta:left"
    >
      <input
        type="email"
        class="gp-form-item gp-g-paragraph-1 !gp-g-s-medium !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--w:313px;--w-tablet:313px;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-2, line-2);--shadow:none"
        placeholder="{{ section.settings.ggWMYVtpdRd_placeholder }}"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="grAoMF9K4p gp-relative gp-flex gp-flex-col"
    >
      
    
  <gp-button >
  <div
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:left"
    
  >
    <style>
    .gQpChOmHXy.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
    }

    .gQpChOmHXy:hover::before {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
    }

    .gQpChOmHXy:hover .gp-button-icon {
      color: undefined;
    }

     .gQpChOmHXy .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gQpChOmHXy:hover .gp-button-price {
      color: undefined;
    }

    .gQpChOmHXy .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gQpChOmHXy .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gQpChOmHXy:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="submit" data-id="gQpChOmHXy" aria-label="Subscribe"
      
      data-state="idle"
      class="gQpChOmHXy gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-g-paragraph-1"
      style="--bg:#764293;--hvr-bg:#dfb52c;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--shadow:none;--w:120px;--w-tablet:120px;--w-mobile:120px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggQpChOmHXy_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

  
    </div>
    </div>
   
    
      {% endform %}
    </gp-form>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-form.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-553123447379592320 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/09c241-13/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=553123447211820160&sectionId=553123447379592320)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggmou9o_kLB_successMessage","label":"ggmou9o_kLB_successMessage","default":"Thanks for contacting us. We'll get back to you as soon as possible."},{"type":"html","id":"ggmou9o_kLB_errorMessage","label":"ggmou9o_kLB_errorMessage","default":"Can’t send email. Please try again later."},{"type":"html","id":"ggWMYVtpdRd_placeholder","label":"ggWMYVtpdRd_placeholder","default":"Email"},{"type":"html","id":"ggQpChOmHXy_label","label":"ggQpChOmHXy_label","default":"Subscribe"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
