

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-553125223482917829.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-553125223482917829.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-553125223482917829.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-553125223482917829.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-553125223482917829.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-553125223482917829.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-553125223482917829.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-553125223482917829.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-553125223482917829.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-553125223482917829.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-553125223482917829.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-553125223482917829.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-553125223482917829.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-553125223482917829.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-553125223482917829.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-553125223482917829.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-553125223482917829.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-553125223482917829.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-553125223482917829.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-553125223482917829.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-553125223482917829.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-553125223482917829.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-553125223482917829.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-553125223482917829.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-553125223482917829.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-553125223482917829.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-553125223482917829.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-553125223482917829.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-553125223482917829.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-553125223482917829.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-553125223482917829.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-553125223482917829.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-553125223482917829.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-553125223482917829.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-553125223482917829.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-553125223482917829.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-553125223482917829.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-553125223482917829.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-553125223482917829.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-553125223482917829.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-553125223482917829.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-553125223482917829.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-553125223482917829.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-553125223482917829.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-553125223482917829.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-553125223482917829.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-553125223482917829.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-553125223482917829.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-553125223482917829.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-553125223482917829.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-553125223482917829.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-553125223482917829.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-553125223482917829.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-553125223482917829.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-553125223482917829.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-553125223482917829.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-553125223482917829.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-553125223482917829.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-553125223482917829.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-553125223482917829.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-553125223482917829.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-553125223482917829.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-553125223482917829.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-553125223482917829.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-553125223482917829.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-553125223482917829.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-553125223482917829.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-553125223482917829.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-553125223482917829.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-553125223482917829.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-553125223482917829 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-553125223482917829 .gp-relative{position:relative}.gps-553125223482917829 .gp-z-1{z-index:1}.gps-553125223482917829 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-553125223482917829 .gp-mb-0{margin-bottom:0}.gps-553125223482917829 .gp-block{display:block}.gps-553125223482917829 .gp-flex{display:flex}.gps-553125223482917829 .gp-inline-flex{display:inline-flex}.gps-553125223482917829 .gp-grid{display:grid}.gps-553125223482917829 .gp-contents{display:contents}.gps-553125223482917829 .\!gp-hidden{display:none!important}.gps-553125223482917829 .gp-hidden{display:none}.gps-553125223482917829 .gp-h-full{height:100%}.gps-553125223482917829 .gp-w-full{width:100%}.gps-553125223482917829 .gp-max-w-full{max-width:100%}.gps-553125223482917829 .gp-flex-none{flex:none}.gps-553125223482917829 .gp-flex-col{flex-direction:column}.gps-553125223482917829 .gp-items-center{align-items:center}.gps-553125223482917829 .gp-justify-start{justify-content:flex-start}.gps-553125223482917829 .gp-justify-center{justify-content:center}.gps-553125223482917829 .gp-gap-y-0{row-gap:0}.gps-553125223482917829 .gp-overflow-hidden{overflow:hidden}.gps-553125223482917829 .gp-break-words{overflow-wrap:break-word}.gps-553125223482917829 .gp-rounded-none{border-radius:0}.gps-553125223482917829 .gp-text-center{text-align:center}.gps-553125223482917829 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-553125223482917829 .gp-no-underline{text-decoration-line:none}.gps-553125223482917829 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-553125223482917829 .gp-duration-200{transition-duration:.2s}.gps-553125223482917829 .gp-duration-300{transition-duration:.3s}.gps-553125223482917829 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-553125223482917829 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-553125223482917829 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-553125223482917829 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-553125223482917829 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-553125223482917829 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-553125223482917829 .tablet\:gp-block{display:block}.gps-553125223482917829 .tablet\:\!gp-hidden{display:none!important}.gps-553125223482917829 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-553125223482917829 .mobile\:gp-block{display:block}.gps-553125223482917829 .mobile\:\!gp-hidden{display:none!important}.gps-553125223482917829 .mobile\:gp-hidden{display:none}}.gps-553125223482917829 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-553125223482917829 .\[\&_p\]\:gp-inline p{display:inline}.gps-553125223482917829 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-553125223482917829 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-553125223482917829 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gdxl9EfsLw" data-id="gdxl9EfsLw"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pl:15px;--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F2F1EA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdxl9EfsLw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYXMnHjt73 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gKPVf1RTaM" data-id="gKPVf1RTaM"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:63px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1057px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKPVf1RTaM gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVX4FFggRd gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gqCA3nJcce" data-id="gqCA3nJcce"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--ml:1px;--mr:auto;--pl:var(--g-s-2xl);--pr:var(--g-s-2xl);--pl-mobile:13px;--pr-mobile:13px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:66%;--w-tablet:66%;--w-mobile:100%;--bgc:#F2F1EA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqCA3nJcce gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gKq5sGtMMH gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gamfJVOAK4">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gamfJVOAK4 "
        style="--tt:default;--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#141414;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:0px;--size:33px;--size-tablet:33px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggamfJVOAK4_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gAjuoQAnei">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gAjuoQAnei "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:50px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#595959;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggAjuoQAnei_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gZ7SjsVFx-">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gZ7SjsVFx- "
        style="--tt:default;--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:50px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#141414;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:0px;--size:33px;--size-tablet:33px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggZ7SjsVFx-_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gNVmWU2Umk" data-id="gNVmWU2Umk"
        style="--mb:50px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNVmWU2Umk gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="geRCaAMNT8 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="geOfsykd5Z" data-id="geOfsykd5Z"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="geOfsykd5Z gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gGf-FmAOvn gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gp3X02RGsY"
    role="presentation"
    class="gp-group/image gp3X02RGsY"
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_542333615069987699-b34aadbb-9370-49d1-8fec-f630d1882d14_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkyNCIgaGVpZ2h0PSIxNjQyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yOTI0LTE2NDIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI5MjQiIGhlaWdodD0iMTY0MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjkyNCIgaGVpZ2h0PSIxNjQyIiBmaWxsPSJ1cmwoI2ctMjkyNC0xNjQyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjkyNCIgdG89IjI5MjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_542333615069987699-b34aadbb-9370-49d1-8fec-f630d1882d14_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkyNCIgaGVpZ2h0PSIxNjQyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yOTI0LTE2NDIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI5MjQiIGhlaWdodD0iMTY0MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjkyNCIgaGVpZ2h0PSIxNjQyIiBmaWxsPSJ1cmwoI2ctMjkyNC0xNjQyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjkyNCIgdG89IjI5MjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkyNCIgaGVpZ2h0PSIxNjQyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yOTI0LTE2NDIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI5MjQiIGhlaWdodD0iMTY0MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjkyNCIgaGVpZ2h0PSIxNjQyIiBmaWxsPSJ1cmwoI2ctMjkyNC0xNjQyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjkyNCIgdG89IjI5MjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_542333615069987699-b34aadbb-9370-49d1-8fec-f630d1882d14.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    <div
    
     data-id="gi6bs_mi1X"
    role="presentation"
    class="gp-group/image gi6bs_mi1X"
    style="--mb:50px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_542333615069987699-2a28f58a-4857-423a-abef-4ba58558cf84_768x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_542333615069987699-2a28f58a-4857-423a-abef-4ba58558cf84_1024x.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_542333615069987699-2a28f58a-4857-423a-abef-4ba58558cf84.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g7oGqG8FAu">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g7oGqG8FAu "
        style="--tt:default;--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:50px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#141414;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:0px;--size:33px;--size-tablet:33px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg7oGqG8FAu_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g4KKUHb8O3">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g4KKUHb8O3 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:50px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#595959;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg4KKUHb8O3_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g8qXKWbIBX">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g8qXKWbIBX "
        style="--tt:default;--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:50px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#141414;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:0px;--size:33px;--size-tablet:33px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg8qXKWbIBX_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g_D1opfqy-">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="g_D1opfqy- "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:50px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#595959;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg_D1opfqy-_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--mb:50px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:left"
    
  >
    <style>
    .gePi2AbZWl.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gePi2AbZWl:hover::before {
      
      
    }

    .gePi2AbZWl:hover .gp-button-icon {
      color: undefined;
    }

     .gePi2AbZWl .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gePi2AbZWl:hover .gp-button-price {
      color: undefined;
    }

    .gePi2AbZWl .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gePi2AbZWl .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gePi2AbZWl:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="https://rings.com/apps/vdb-app/search-filters?structure=new&diamondSearchType=Lab_grown_Diamond" target="_self" data-id="gePi2AbZWl" aria-label="<p>Choose Your Diamond</p>"
      
      data-state="idle"
      class="gePi2AbZWl gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center gp-g-paragraph-1"
      style="--bg:#8b5e9a;--hvr-bg:#d4af37;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggePi2AbZWl_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>
<div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--pt:16px;--pb:16px;--mb-mobile:0px" class="gc0EMZSQ7W ">
      
    <div
    data-id="gc0EMZSQ7W"
      class="gp-flex gp-justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#EBEBEB"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#EBEBEB;--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#EBEBEB;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#EBEBEB;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-553125223482917829 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/09c241-13/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=553125223398900677&sectionId=553125223482917829)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggamfJVOAK4_text","label":"ggamfJVOAK4_text","default":"What Are Natural Diamonds?"},{"type":"html","id":"ggAjuoQAnei_text","label":"ggAjuoQAnei_text","default":"<p>Natural diamonds are formed deep within the Earth’s mantle under extreme pressure and heat over <strong>billions of years</strong>. These diamonds are then brought to the surface through volcanic activity. Due to their formation process and rarity, natural diamonds hold a unique geological history.</p><p>&nbsp;</p><p><strong>How Are Natural Diamonds Mined?</strong></p><p>&nbsp;</p><p>Natural diamonds are extracted from the Earth through <strong>open-pit mining</strong>, <strong>underground mining</strong>, or <strong>alluvial mining</strong> (sifting through riverbeds for naturally occurring diamonds). They are then cut, polished, and graded before reaching the market.</p>"},{"type":"html","id":"ggZ7SjsVFx-_text","label":"ggZ7SjsVFx-_text","default":"Lab-Grown vs. Natural Diamonds: The Key Differences"},{"type":"html","id":"gg7oGqG8FAu_text","label":"gg7oGqG8FAu_text","default":"Which Diamond Is Right for You?"},{"type":"html","id":"gg4KKUHb8O3_text","label":"gg4KKUHb8O3_text","default":"<p><strong>Choose a Lab-Grown Diamond If:</strong></p><p>✔ You want the best value for your budget&nbsp;</p><p>✔ Ethical sourcing and sustainability are important to you&nbsp;</p><p>✔ You want a larger or higher-quality stone for the price</p><p>&nbsp;</p><p><strong>Choose a Natural Diamond If:</strong></p><p>✔ You prefer a stone with geological history&nbsp;</p><p>✔ You value long-term investment and resale potential&nbsp;</p><p>✔ You want a one-of-a-kind gemstone with unique characteristics</p>"},{"type":"html","id":"gg8qXKWbIBX_text","label":"gg8qXKWbIBX_text","default":"Final Thoughts"},{"type":"html","id":"gg_D1opfqy-_text","label":"gg_D1opfqy-_text","default":"<p>Both <strong>lab-grown</strong> and <strong>natural diamonds</strong> offer stunning beauty and timeless appeal. The right choice depends on your personal preferences, values, and budget. If you’re looking for <strong>affordable luxury and sustainability</strong>, a <strong>lab-grown diamond</strong> is an excellent option. If you prefer <strong>heritage, uniqueness, and long-term value</strong>, a <strong>natural diamond</strong> might be the way to go.</p><p>&nbsp;</p><p>Regardless of your choice, always buy from a <strong>trusted seller</strong> and ensure your diamond comes with certification (such as <strong>IGI for lab-grown diamonds</strong> and <strong>GIA for natural diamonds</strong>). That way, you can confidently wear or gift a diamond that perfectly suits your needs.</p><p>&nbsp;</p>"},{"type":"html","id":"ggePi2AbZWl_label","label":"ggePi2AbZWl_label","default":"<p>Choose Your Diamond</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
