<div
  id="shopify-section-icons-text-d6"
  class="shopify-section"
  bis_skin_checked="1"
>
  <style data-shopify="">
        .section-icons-text-d6 {
          border-top: solid #000000 0px;
          border-bottom: solid #000000 0px;
          margin-top: 0px;
          margin-bottom: 0px;
        }

        .section-icons-text-d6-settings {
          margin: 0 auto;
          padding-top: 27px;
          padding-bottom: 27px;
          padding-left: 20px;
          padding-right: 20px;
        }
        .f9-block-title{
          font-family: "Tenor Sans";
        }
        .f9-block-content{
          font-family: Roboto;
        }
        .features-heading-icons-text-d6 * {
          margin: 0;
          font-size: {{ section.settings.title-font-mobl }}px;
          color: {{ section.settings.title-color }};
          line-height: 110%;
          text-transform: unset;
        }

        .features-items-icons-text-d6 {
          margin-top: 36px;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 20px;
        }

        .features-icon-icons-text-d6 {
          max-width: fit-content;
          height: fit-content;
        }

        .features-icon-icons-text-d6 img,
        .features-icon-icons-text-d6 svg {
          display: block;
          width: 32px;
          height: 32px;
        }

        .features-title-icons-text-d6 {
          margin-top: 12px;
        }

        .features-title-icons-text-d6 * {
          margin: 0;
          line-height: 130%;
          text-transform: unset;
        }

        .features-text-icons-text-d6 {
          margin: 16px 0;
        }

        .features-text-icons-text-d6 * {
          margin: 0;
          line-height: 20px;
          text-transform: unset;
        }

        .features-image-icons-text-d6 {
          width: 100%;
          margin: 0px auto;
          max-width: 100%;
          border-radius: 6px;
          border: 0px solid #000000;
          overflow: hidden;
          display: none;
          {% if section.settings.show-image %}
          display: block;
            {% endif %}
        }

        .features-image-icons-text-d6 img,
        .features-image-icons-text-d6 svg {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .features-image-icons-text-d6 svg {
          background-color: #DDDDDD;
        }
        .features-item-icons-text-d6 {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        scroll-snap-align: start;
    }
    .features-items-icons-text-d6{
      display: flex;
      gap: 0;
      overflow: scroll;
      width: 100%;
      scroll-snap-type: x;
    }

        @media(min-width: 1024px) {

          .section-icons-text-d6 {
            margin-top: 0px;
            margin-bottom: 0px;
          }

          .section-icons-text-d6-settings {
            padding: 0 5rem;
            padding-top: 36px;
            padding-bottom: 36px;
            padding-left: 130px;
            padding-right: 130px;
          }

          .features-grid-icons-text-d6 {
            gap: 50px;
            flex-direction: column;
          }

          .features-heading-icons-text-d6 {
            text-align:  {{ section.settings.heading-align }};
          }

          .features-heading-icons-text-d6 * {
            font-size: {{ section.settings.title-font }}px;
          }

          .features-items-icons-text-d6 {
            margin-top: 48px;
            gap: 20px;
          }

          .features-icon-icons-text-d6 img,
          .features-icon-icons-text-d6 svg {
            width: 40px;
            height: 40px;
          }

          .features-title-icons-text-d6 {
            margin-top: 16px;
          }

          .features-text-icons-text-d6 {
            margin-top: 20px;
          }
          .features-image-icons-text-d6 {
            max-width: 40%;
          }
        }
  </style>
  <style>
    .section-icons-text-d6-settings {
      max-width: 140rem;
    }
  </style>

  <style>
    @media(min-width: 1024px) {
       .features-grid-icons-text-d6 {
        flex-direction: row;
       }
      .features-content-icons-text-d6 {
        flex: 0 1 100%;
      }
      .features-items-icons-text-d6{
      grid-template-columns: repeat(4, 1fr);
      }
      .features-image-icons-text-d6{
      display: none;
      }
      {% if section.settings.show-image %}
      .features-image-icons-text-d6 {
        flex: 0 0 40%;
        display: flex;
      }
        .features-content-icons-text-d6 {
        flex: 0 1 60%;
      }
        .features-items-icons-text-d6{
      grid-template-columns: repeat(2, 1fr);
      }
      {% endif %}
    }
  </style>

  <style>
    .features-image-icons-text-d6 {
     aspect-ratio: 12/12;
    }
  </style>

  <style>
    @media(min-width: 1024px) {
     .features-image-icons-text-d6 {
       aspect-ratio: 9.6/13;
      }
    }
  </style>

  <style>
    @media(min-width: 1024px) {
      .features-icon-icons-text-d6 {
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  </style>
  <style>
    @media(min-width: 1024px) {
      .features-item-icons-text-d6 {
        display: block;
      }
    }
    .features-icon-icons-text-d6.f9-icon-d6 img {
      width: {{ section.settings.icon_size }}px;
      height: {{ section.settings.icon_size }}px;
    }
  </style>

  <div
    id="{{ section.settings.features-id }}"
    class="section-icons-text-d6 features-icons-text-d6"
    style="background-color: {{ section.settings.sec-color }};"
    bis_skin_checked="1"
  >
    <div class="section-icons-text-d6-settings" bis_skin_checked="1">
      <div class="features-grid-icons-text-d6" bis_skin_checked="1">
        <div
          class="features-content-icons-text-d6"
          bis_skin_checked="1"
        >
          <div
            class="features-heading-icons-text-d6"
            bis_skin_checked="1"
          >
            <h2>{{ section.settings['sec-title'] }}</h2>
          </div>

          <div
            class="features-items-icons-text-d6"
            bis_skin_checked="1"
          >
            {% for block in section.blocks %}
              <style>
                .f9-block-{{ block.id }} {
                  text-align: {{ block.settings.text-align }};
                }
                .f9-block-{{ block.id }} .f9-icon-d6{
                  border-radius: {{ block.settings.icon-radius }}%;
                  background: {{ block.settings.icon-color }};
                  border: {{ block.settings.icon-border }}px solid;
                  border-color: {{ block.settings.border-color }};
                  {% if block.settings.icon-center %}
                  margin: 0 auto;
                  {% endif %}
                }
                .f9-block-{{ block.id }} .f9-block-title h4{
                  font-size: {{ block.settings.block-title-font }}px;
                  color: {{ block.settings.block-title-color }};
                }
                .f9-block-{{ block.id }} .f9-block-content{
                  font-size: {{ block.settings.content-font }}px;
                  color: {{ block.settings.content-color }};
                }
                @media (max-width: 1024px){
                  .f9-block-{{ block.id }} .f9-block-title h4{
                  font-size: {{ block.settings.block-title-font-mobl }}px;
                }
                .f9-block-{{ block.id }} .f9-block-content{
                  font-size: {{ block.settings.content-font-mobl }}px;
                }
                }
              </style>
              <div
                class="features-item-icons-text-d6 f9-block-{{ block.id }}"
                bis_skin_checked="1"
              >
                <div
                  class="features-icon-icons-text-d6 f9-icon-d6"
                  bis_skin_checked="1"
                >
                  <img src="{{  block.settings['block-icon'] | image_url: width: 300  }}">
                </div>

                <div
                  class="features-item-content-icons-text-d6"
                  bis_skin_checked="1"
                >
                  <div
                    class="features-title-icons-text-d6 f9-block-title"
                    bis_skin_checked="1"
                  >
                    <h4>{{ block.settings['block-title'] }}</h4>
                  </div>

                  <div
                    class="features-text-icons-text-d6 f9-block-content"
                    bis_skin_checked="1"
                  >
                    <p>
                      {{ block.settings['block-content'] }}
                    </p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    <script>
      const slider = document.querySelector('.features-items-icons-text-d6');
      const slides = document.querySelectorAll('.features-item-icons-text-d6');
      const dotsContainer = document.querySelector('.dots-container');

      // Generate dots dynamically
      slides.forEach((_, index) => {
          let dot = document.createElement('span');
          dot.classList.add('dot');
          dot.dataset.index = index;
          if (index === 0) dot.classList.add('active'); // Set the first dot as active
          dotsContainer.appendChild(dot);
      });

      const dots = document.querySelectorAll('.dot');

      function updateDots() {
          let index = Math.round(slider.scrollLeft / slider.clientWidth);
          dots.forEach(dot => dot.classList.remove('active'));
          dots[index].classList.add('active');
      }

      dots.forEach(dot => {
          dot.addEventListener('click', (e) => {
              let index = e.target.dataset.index;
              slider.scrollLeft = index * slider.clientWidth;
          });
      });

      slider.addEventListener('scroll', updateDots);
  </script>
</script>
{% schema %}
{
  "name": "Icons Text",
  "settings": [
    {
      "type": "text",
      "id": "sec-title",
      "label": "Heading"
    },
    {
      "type": "color",
      "id": "title-color",
      "label": "Color",
      "default": "#000"
    },
    {
      "type": "range",
      "id": "title-font",
      "label": "Font size",
      "default": 56,
      "min": 30,
      "max": 80,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "heading-align",
      "label": "Heading Alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center",
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show-image",
      "label": "Show Image",
      "default": true
    },
    {
      "type": "range",
      "id": "title-font-mobl",
      "label": "Font size for Mobile",
      "default": 32,
      "min": 20,
      "max": 50,
      "unit": "px"
    },
    {
      "type": "color",
      "id": "sec-color",
      "label": "Background Color",
      "default": "#fff"
    },
    {
      "type": "text",
      "id": "features-id",
      "label": "Section Custom I'd"
    },
    {
      "type": "range",
      "id": "icon_size",
      "unit": "px",
      "min": 1,
      "max": 100,
      "step": 1,
      "default": 72,
      "label": "Icon size"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "block-icon",
          "label": "Icon"
        },
        {
          "type": "select",
          "id": "text-align",
          "default": "left",
          "label": "Text Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "Right",
              "value": "right"
            }
          ]
        },
        {
          "type": "text",
          "id": "block-title",
          "label": "Block Heading"
        },
        {
          "type": "color",
          "id": "block-title-color",
          "label": "Color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "block-title-font",
          "label": "Font-size",
          "max": 24,
          "default": 20,
          "min": 18,
          "unit": "px"
        },
         {
          "type": "range",
          "id": "block-title-font-mobl",
          "label": "Font-size for Mobile",
          "max": 22,
          "default": 18,
          "min": 16,
          "unit": "px"
        },
        {
          "type": "textarea",
          "id": "block-content",
          "label": "Block Content"
        },
        {
          "type": "color",
          "id": "content-color",
          "label": "Color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "content-font",
          "label": "Font-size",
          "min": 14,
          "default": 18,
          "max": 20,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "content-font-mobl",
          "label": "Font-size for Mobile",
          "min": 12,
          "default": 16,
          "max": 20,
          "unit": "px"
        },

        {
          "type": "color",
          "id": "icon-color",
          "label": "Icon Background",
          "default": "#F3F1F0"
        },
        {
          "type": "checkbox",
          "id": "icon-center",
          "default": false,
          "label": "Icon Alignment Center"
        },
        {
          "type": "range",
          "id": "icon-border",
          "label": "Icon Border",
          "min": 0,
          "default": 0,
          "max": 4,
          "unit": "px"
        },
        {
          "type": "color",
          "id": "border-color",
          "label": "Border-color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "icon-radius",
          "label": "Icon Border-radius",
          "min": 0,
          "default": 50,
          "max": 80,
          "unit": "%"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icons Text"
    }
  ]
}
{% endschema %}
