<style>
    #shopify-section-{{ section.id }} {
        padding-top: {{ section.settings.top_spacing_desktop | append: 'px' }};
        padding-bottom: {{ section.settings.bottom_spacing_desktop | append: 'px' }};
    }
    .new_logos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .new_logo {
        display: flex;
        gap: 12px;
        align-items: center;
    }

    .new_logo_image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .new_logo_image svg {
        min-width: 60px;
        height: auto;
        /*fill: #000;*/
    }

    .new_logo_image .icon {
        width: auto;
        height: auto;
        max-width: 60px;
    }

    .new_logo_text {
        color: #000;
    }

    @media only screen and (max-width: 768px) {
        #shopify-section-{{ section.id }} {
            padding-top: {{ section.settings.top_spacing_mobile | append: 'px' }};
            padding-bottom: {{ section.settings.bottom_spacing_mobile | append: 'px' }};
        }
        .new_logos {
            flex-direction: column;
            align-items: flex-start;
        }
    }
</style>

<div class="new_logos_container section">
    <div class="new_logos">
        {% for block in section.blocks %}
            <div class="new_logo">
                <div class="new_logo_image">
                    {% if block.settings.image != blank %}
                        <img src="{{ block.settings.image | img_url: 'master' }}" alt="">
                    {% else %}
                        {%- assign icon = block.settings.icon_label | downcase -%}
                        {%
                                render 'icon',
                                name: icon,
                                icon_class: icon_size
                        %}
                    {% endif %}
                </div>
                <div class="new_logo_text">
                    <p>{{ block.settings.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% schema %}
{
    "name": "Logos with text new",
    "settings": [
        {
            "type": "range",
            "id": "top_spacing_desktop",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Top spacing desktop",
            "default": 50
        },
        {
            "type": "range",
            "id": "bottom_spacing_desktop",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Bottom spacing desktop",
            "default": 50
        },
        {
            "type": "range",
            "id": "top_spacing_mobile",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Top spacing mobile",
            "default": 50
        },
        {
            "type": "range",
            "id": "bottom_spacing_mobile",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Bottom spacing mobile",
            "default": 50
        }
    ],
    "blocks": [
        {
            "name": "Block",
            "type": "block",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "icon_label",
                    "label": "Icon",
                    "placeholder": "Enter icon name",
                    "info": "[Icon list](https://help.outofthesandbox.com/hc/en-us/articles/360021570294)",
                    "default": "gem"
                },
                {
                    "type": "text",
                    "id": "text",
                    "label": "Text"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Logos with text new"
        }
    ]
}
{% endschema %}