<section class="custom-ring-section">
  <div class="container">
    <h2>{{ section.settings.title }}</h2>
    <p class="description">{{ section.settings.description }}</p>
    
    <div class="images-container">
      {% if section.settings.image_1 %}
        <img src="{{ section.settings.image_1 | img_url: 'large' }}" alt="Left Image" class="image-left">
      {% endif %}
      {% if section.settings.image_2 %}
        <img src="{{ section.settings.image_2 | img_url: 'large' }}" alt="Right Image" class="image-right">
      {% endif %}
    </div>

    <p class="bottom-description">{{ section.settings.bottom_description }}</p>
  </div>
</section>

<style>
  .custom-ring-section {
  background-color: #F5F5F0;
  padding: 50px 20px;
  text-align: center;
    width: 100%;
}

.custom-ring-section .container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.custom-ring-section h2 {
  color: #1B1B1B;
text-align: center;
font-family: "Tenor Sans";
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.custom-ring-section .description {
  color: #1B1B1B;
text-align: center;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 20px; /* 142.857% */
  margin-bottom: 20px;
}

.custom-ring-section .images-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
width: 100%;
}

.custom-ring-section img {
  width: 100%;
  height: auto;
  max-width: 380px;
max-height: 280px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-ring-section .bottom-description {
  color: #1B1B1B;
text-align: center;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 20px; /* 142.857% */
  max-width: 681px;
  margin: 0 auto;
}

</style>

{% schema %}
{
  "name": "Custom Ring Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Beautifully Handcrafted Rings That Celebrate Love, Commitment, and Timeless Elegance"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "This contemporary rope style solitaire engagement ring features a woven design that is"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Left Image"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Right Image"
    },
    {
      "type": "textarea",
      "id": "bottom_description",
      "label": "Bottom Description",
      "default": "Enjoy quality packaging and free shipping with every order. We also offer hassle-free, 30-day returns - no questions asked! Don't forget we'll be here forever with our lifetime warranty."
    }
  ],
  "presets": [
    {
      "name": "Custom Ring Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
